
/*********************checkout****************/

.check_lm {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;
}

.check_lm1 ul li{
display:inline-block;
padding-right:10px; 
 }
.check_lm1 ul li i{
font-size:14px;
margin-left:5px;
 }
.check_lm3{
 margin-top:15px;
 }
 .check_lm3 .form-control {
  height: 45px;
  width: 90%;
  margin-left: 24px;
}
.check_1 {
vertical-align:bottom;
}
.check_lm3 h5 span{
 margin-left:5px;
 }
 .check_lm4 .form-control {
  height: 45px;
  margin-top: 15px;
  width: 94%;
  margin-left: 13px;
  margin-right: 10px;
}
.check_lm5 h5 span{
 margin-left:5px;
 }
 .move-to-top-d2 {
  position: relative;
  bottom: 154px;
}
.onscroll {
  overflow-y: scroll;
  margin-left: 30px;
  line-height: 1.3em;
  max-height: 100px;
}
.onscroll .check-price {
  position: relative;
  left: 8rem;
  text-align: left;
}
.onscroll .check-pname {
  text-align: left;
}
.check-dquantity {
  position: relative;
  left: 4rem;
} 
a.return-c {
  color: black;
}
a.return-c:hover{

  color:#f6740a;
}
/*********************checkout_end****************/

@media screen and (max-width : 1366px){
  .check-pname {
    font-size: 16px;
  }
  .check-price {
    font-size: 16px;
  }
  /* .check-dpname {
    font-size: 16px;
  } */
  .onscroll .check-price {
    position: relative;
    left: 9.4rem;
    text-align: left;
  }
  .check-dquantity {
    text-align: center;
    font-size: 24px;
    margin-bottom: .5rem;
}
  .check-pname {
    font-size: 26px;
  }
  .check-dpname {
    font-size: 22px;
}

}
@media screen and (max-width : 1366px)and (orientation: landscape)
    { 
      .onscroll .check-pname {
        font-size: 24px;
    }
    .onscroll .checkoutv .check-price {
        font-size: 24px;
        left: 7.4rem;
  }
  .check-price .check-dprice {
        font-size: 21px;
        position: relative;
        left: -2rem;
  }      
}


@media screen and (max-width : 767px){
.checkout{
 text-align:center;
 padding-bottom:40px;
 }
.checkout_1l3  h5{
 text-align:center;
 margin-top:15px!important; 
 }
.check_rm{
margin-top:0; 
 }
.checkout_1l2  p{
margin-top:15px!important; 
 } 
/* .checkout_1l2  h6{
margin-bottom:15px; 
text-align:center;
 }  */
.checkout_1r1i h5{
margin-top:15px!important; 
 }
.checkout_1r1i  h4{
 margin-top:15px!important;
}
 
 
}


._center {
  position: relative;
  left: 13em;
  bottom: -2rem;
  width: 30%;
}


img.debit-icon {
    position: relative;
    width: 23px;
    left: 7px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #0e0d0d;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #e2e1dfa1;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    /* background-color:#e2e1dfa1; */
    color: white;
    height: 80px;
  }

  .modal_btn {
    position: relative;
    top: -6px;
    left: 12rem;
}
img.modal-payment {
    position: relative;
    left: 113px;
    top: -10px;
}

img.info {
    position: absolute;
    left: 5%;
    bottom: 15px;
    width: 30px;
}

div#contacts {
    background-color: #f7f7f70a;
}
div#adds {
    background-color: #f7f7f70a;
}

._sbtn {
    position: relative;
    top: -4px;
    left: 178px;
}

img.check-icon {
  position: relative;
  right: 10px;
  width: 15px;
}

.container1 {
  padding-left: 100px;
  position: relative;
  width: 41%;
  left: 13rem;
}

.checkout_1.clearfix {
  display: flex;
  position: relative;
  left: 6rem;
}

.check_rm {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 176%;
  position: relative;
  left: 5rem;
  top: 1rem;
}
.checkout_1r.clearfix {
  margin-left: 30px;
  margin-right: 30px;
}
.checkout_1r1.clearfix {
  margin-left: 30px;
  margin-right: 30px;
}
.check_lm2.clearfix {
  width: 100%;
}
.checkout_1l3.clearfix {
  width: 100%;
}

div#adds {
  margin-left: 30px;
}
textarea.txt-size {
  width: 100%;
  height: 100px;
}

.move-right {
  position: relative;
  bottom: 44px;
  margin-left: 68%;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -55px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -37px;
}

h5.move-free-data {
  position: relative;
  bottom: 12em;
  left: 15rem;
}
h5.move-free-data1 {
  position: relative;
  bottom: 7.2rem;
  left: 15rem;
}
/* .move-to-top-rem {
  position: relative;
  bottom: 9rem;
} */



.check_rm.clearfix {
    background-color: #ffffff;
    border-style: dotted;
    border-color: #c4a2659c;
}
h6.text-right {
  position: relative;
  left: 18rem;
  bottom: 2rem;
}

.move-to-center {
  position: relative;
  bottom: 2rem;
  left: 153px;
}
.check-dquantity {
  text-align: center;
}
.size-height {
  height: 10px;
}
div#contacts {
  margin-left: 30px;
}
h6.size-color {
  position: relative;
  color: #f6610a7a;
  bottom: 42px;
  left: 198px;
}
h6.size-color1 {
  position: relative;
  color: #f6610a7a;
  bottom: 42px;
  left: 221px;
}
h4.check-title {
  color: #f6740a;
  margin-left: 20px;
}
.col-sm-6.space_left {
  border-style: solid;
  border-color: #f6740a;
  margin-bottom: 10px;
}
.col-sm-6.move-top {
  position: relative;
  bottom: 2em;

}
.move-to-top-rem {
  border-style: outset;
  border-color: #f6740a;
}


img.cod-icon {
  width: 26px;
  position: relative;
  left: 4px;
  top: 5px;
}
img.debit-icon {
  position: relative;
  width: 23px;
  left: 7px;
  top: 5px;
}
.glyphicon img {
    width: 18px;
}


/* @Media Queries */


@media only screen 
and (max-width: 1024px)
and (min-width: 768px)
and (orientation: portrait){

  .footers-copyright {
    display: flex;
    width: 100%;
    height: 365px;
}
.footer-desc.footer-gallery {
  display: none;
}

textarea { font-size: 30px; }
.move-to-top-d2 {
  position: relative;
  bottom: -8px;
}
.headmenu .sub-menu {
  font-size: 28px;
  padding: 10px;
  width: 38%;
}

h6.text-right {
  position: relative;
  left: 18rem;
  bottom: 2rem;
  font-size: 24px;
}

.container1 {
  padding-left: 100px;
  position: relative;
  width: 50%;
  left: 13rem;
}

.check_lm1 ul li {
  font-size: 32px;
}

h4.check-title {
  font-size: 28px;
}
.col-sm-6 h5{
  font-size: 26px;
}
.size-height .move-free-data {
  position: relative;
  bottom: 16rem;
  left: 15rem;
}
.size-height .move-free-data1 {
  position: relative;
  bottom: 22.4rem;
  left: 15rem;
}
h6.size-color1 {
  position: relative;
  font-size: 26px;
  bottom: 50px;
  left: 325px;
}
h6.size-color {
  position: relative;
  font-size: 26px;
  bottom: 50px;
  left: 325px;
}  
.check_lm {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 600px;
}
.checkout_1.clearfix {
  display: flex;
  position: relative;
  left: 0rem;
}


.move-to-center h4 {
  font-size: 32px;
  position: relative;
  bottom: .5rem;
  left: 1.6rem;
}
.col-sm-7 p{
  font-size: 26px;
}
.checkout_1r1.clearfix h6 {
  font-size: 26px;
}
.col-sm-6 input {
  padding: 12px 20px;
  position: relative;
  top: 1.5rem;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #cf9d71;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-sm-6 label {
  font-size: 26px;
  position: relative;
  top: 1.5rem;
}
.col-sm-6 h4 {
  font-size: 28px;
}
.col-sm-6 .mgt1 {
  font-size: 28px;
  position: relative;
  top:.7rem;
}
.col-sm-6 .mgt2 {
  font-size: 28px;
  position: relative;
  top:-2.6rem;
}
img.debit-icon {
  position: relative;
  width: 28px;
  left: 7px;
  top: 5px;
}
img.cod-icon {
  position: relative;
  width: 28px;
  left: 7px;
  top: 5px;
}
._center {
  position: relative;
  left: 26rem;
  bottom: 5rem;
  width: 24%;
}
.ship h5 {
  position: relative;
  top: 24px;
}
img.check-icon {
  position: relative;
  right: 10px;
  width: 20px;
}
textarea.txt-size {
  width: 100%;
  height: 150px;
}
.check_lm4 .form-control {
  height: 75px;
  margin-top: 15px;
  width: 97%;
  margin-left: 13px;
  margin-right: 10px;
  font-size: 22px;
}
.modal-content {
  width: 40%;
}
.modal_btn {
  position: relative;
  top: -6px;
  left: 17.5rem;
  font-size: 20px;
}  
img.modal-payment {
  position: relative;
  left: 200px;
  top: -10px;
}
.check-pname {
  font-size: 25px;
}
.check-price {
  font-size: 25px;
}
.check-dpname {
  font-size: 25px;
}
.onscroll .check-price {
  position: relative;
  left: 7rem;
  text-align: left;
}
}







@media only screen 
and (max-width:767px)
and (min-width: 375px)
and (orientation:portrait){

  .modal-content {
    height: 30px;
  }    
  .check_lm.clearfix {
    display: none;
}

section#center {
  height: 2150px;
}
.check_rm.clearfix {
  height: 1900px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  left: -13rem;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: 0px;
}
._center {
  position: relative;
  left: 0rem;
  bottom: 0rem;
  width: 88%;
  font-size: 44px;
}

h6.c-size {
  font-size: 27px;
}
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 45px;
  position: relative;
  right: 19rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}


/* new files */
.check_lm4 .form-control {
  height: 110px;
  margin-top: 15px;
  width: 96%;
  margin-left: 12px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  font-size: 40px;
}
.col-sm-4 {
  width: 33.3%;
  float: left;
  position: relative;
  left: -8px;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  height: 28%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal_btn {
  position: relative;
  top: 44px;
  left: 27.6rem;
  width: 27%;
  font-size: 30px;
}
/* .check_lm4 .form-control {
  height: 110px;
  margin-top: 15px;
  width: 96%;
  margin-left: 12px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  font-size: 26px;
} */
img.modal-payment {
  position: relative;
  left: 390px;
  top: -10px;
}
.check_lm4 .form-control {
  height: 110px;
  margin-top: 15px;
  width: 98%;
  margin-left: 12px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  font-size: 40px;
}
.check-pname {
  font-size: 32px;
  position: relative;
  left: 4rem;
}
.check-price {
  font-size: 32px;
}
.check-dpname {
  font-size: 32px;
  position: relative;
  left: 4rem;
}
.onscroll .check-price {
  position: relative;
  left: 22rem;
  text-align: left;
}

.container {
  width: 1458px;
}
.des-logo img {
  width: 320px;
  /* margin-top: 75px; */
}
span.footer-title {
  font-size: 54px;
  position: relative;
  left: 0rem;
}
.info-contacts {
  font-size: 49px;
  text-align: left;
}
}

@media only screen 
and (max-width: 414px)
and (min-width: 736px)
and (orientation: portrait)
{
  
  .check_lm.clearfix {
    display: none;
}

section#center {
  height: 2150px;
}
.check_rm.clearfix {
  height: 1900px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  left: -9rem;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: -109px;
}
._center {
  position: relative;
  left: -5rem;
  bottom: 7rem;
  width: 88%;
  font-size: 44px;
}

h6.c-size {
  font-size: 27px;
}
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 45px;
  position: relative;
  right: 19rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}

}

@media only screen 
and (max-width: 640px)
and (min-width: 360px)
and (orientation: portrait)
{

  
  .check_lm.clearfix {
    display: none;
}
section#center {
  background-color: #c4a265cc;
}
.onscroll {
  overflow-y: scroll;
  margin-left: 30px;
  line-height: 3.3em;
  max-height: 170px;
}
.cod-moves {
  position: relative;
  bottom: 1em;
}
a.return-c {
  color: black;
  display: none;
}
section#center {
  height: 2150px;
}
.check_rm.clearfix {
  width: 1131px;
  margin-top: 7rem;
  position: relative;
  left: -20rem!important;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 40px;
  position: relative;
  /* left: -109px; */
}
._center {
  /* position: relative;
  left: -5rem!important;
  bottom: 7rem!important; */
  width: 88%;
  font-size: 44px;
}

h6.c-size {
  font-size: 27px;
}
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 45px;
  position: relative;
  right: 19rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}
.shower_left h4 b, strong {
   margin-left: 0px; 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: 30%;
  top: 23em;
}
.modal-header {
  padding: 2px 16px;
  background-color: #e2e1dfa1;
  color: white;
  height: 13%;
}
.space_left {
  padding-left: 3px;
  width: 33%;
  float: left;
}
.col-sm-4 {
  float: left;
  width: 316px;
}
img.modal-payment {
  position: relative;
  left: 157px;
  top: -10px;
  width: 70%;
}
.check_lm4 .form-control {
  height: 83px;
  margin-top: 15px;
  width: 94%;
  margin-left: 13px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
 
}
.modal_btn {
  position: relative;
  top: 50px;
  left: 22rem;
  font-size: 33px;
}
input.form-control::placeholder {
  font-size: 30px;
}
.check-dquantity {
  text-align: center;
  font-size: 42px;
  position: relative;
  left: 11rem;
}
.check-pname {
  font-size: 34px;
  position: relative;
  left: 4rem;
}
}


@media only screen 
and (max-width: 731px)
and (min-width: 411px) and (orientation: portrait)
{
  img.modal-payment {
    position: relative;
    left: 150px;
}
  .topnav a {
    width: 270px;
}
  span.footer-title {
    font-size: 54px;
    position: relative;
    left: 0rem;
}
  .check_lm.clearfix {
    display: none;
}

section#center {
  height: 2150px;
}
.check_rm.clearfix {
  height: 1900px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  left: -9rem;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: -109px;
}
._center {
  position: relative;
  left: 0rem;
  bottom: 0rem;
  width: 88%;
  font-size: 44px;
}

/* h6.c-size {
  font-size: 27px;
} */
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 45px;
  position: relative;
  right: 19rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}


/* new files here */
.container {
  max-width: 100%;
  width: 1645px;
  padding: 0;
  position: relative;
  max-width: 1920px;
}
.check_rm.clearfix {
  height: 1900px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  left: -8rem;
  border-style: solid;
}
.checkout_1r1.clearfix .c-size {
  font-size: 40px;
  margin-bottom: 10px;
}
.footer-title-contact {
  width: 60%;
  height: 75px;
  text-align: left;
}
span.sp {
  font-size: 34px;
  text-align: left;
}
.info-contacts {
  font-size: 34px;
  text-align: left;
}
h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: -135px;
}
.check_rm.clearfix {
  height: 1965px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  /* left: -13rem; */
  border-style: solid;
}
._center {
  /* position: relative;
  left: -5rem;
  bottom: 7rem; */
  width: 88%;
  font-size: 44px;
}
.check_rm.clearfix {
  height: 1950px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  /* left: -13rem; */
  border-style: solid;
}
h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: 0px;
}
.check-pname {
  font-size: 32px;
  position: relative;
  left: 0rem;
}
.check-price {
  font-size: 32px;
}
.check-dpname {
  font-size: 32px;
  position: relative;
  left: 0rem;
  text-align: left;
  margin: 0.3rem;
}
.onscroll .check-price {
  position: relative;
  left: 22rem;
  text-align: left;
}
.headmenu .des-logo .logos {
  margin-left: 50px;
}
.check-dquantity {
  text-align: center;
  font-size: 42px;
  position: relative;
  left: 7rem;
}
button.menu-toggle {
  width: 75%;
  font-size: 50px;
}
.headmenu .icons .icons2 {
  width: 6rem;
}
/* .mgt a {
  display: none;
} */

}

@media only screen 
and (max-width: 568px)
and (min-width: 320px)
and (orientation: portrait)
{
  img.modal-payment {
    position: relative;
    left: 150px;
  }    
  .space_left {
    padding-left: 0px;
}
  .check_lm.clearfix {
    display: none;
}
section#center {
  background-color: #c4a265cc;
}
.check-dquantity {
  text-align: center;
  font-size: 42px;
  position: relative;
  left: 7rem;
}
.onscroll {
  overflow-y: scroll;
  margin-left: 30px;
  line-height: 3.3em;
  max-height: 200px;
}
a.return-c {
  color: black;
  display: none;
}
section#center {
  height: 2150px;
}
.check_rm.clearfix {
  width: 1131px;
  margin-top: 7rem;
  position: relative;
  left: -20.5rem;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 50px;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
._center {
  position: relative;
  left: 0rem;
  /* bottom: 0rem; */
  width: 45%;
  font-size: 44px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

h6.c-size {
  font-size: 40px;
}
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 50px;
  position: relative;
  right: 19rem;
}
strong.p-method {
  margin-left: 36rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}
.shower_left h4 b, strong {
   margin-left: 0px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 74%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: 32%;
}
.check_lm4 .form-control {
  height: 84px;
  margin-top: 15px;
  width: 94%;
  margin-left: 13px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
}
.check_lm4 .form-control::placeholder{

  font-size:35px;
}
.col-sm-4 {
 
  float: left;
  width: 303px;
}
.space_left {
  padding-left: 0;
}
.modal_btn {
  position: relative;
  top: 71px;
  left: 21.6rem;
  font-size: 30px;
}
.move-flex {
  width: 100%;
}
.container {
  width: 1280px;
}
.check-pname {
  font-size: 42px;
  position: relative;
  left: 4rem;
  margin-top: 1rem;
}
.check-price {
  font-size: 32px;
}
.check-dpname {
  font-size: 36px;
  position: relative;
  left: 4rem;
  text-align: left;
}
.onscroll .check-price {
  position: relative;
  left: 16rem;
  text-align: left;
  font-size: 42px;
}
.move-to-center {
  position: relative;
  bottom: 2rem;
  left: 0rem;
}
a.return-c {
  color: black;
  display: none;
}
button.menu-toggle {
  width: 90%;
  height: 5.6875rem;
}
.footer-contact-us {
  text-align: left;
}
.social-media-link {
  width: 60%;
}
.copyright {
  font-size: 36px;
}
.topnav a {
  width: 230px;
  font-size: 36px;
}
/* .des-logo img {
  width: 400px;
} */

}

@media only screen 
and (max-width: 568px)
and (min-width: 320px)
and (orientation: landscape)
{
 .checkout-1r1 h6 {
    position: relative;
    left: 0;
  }
  li {
    font-size: 30px;
}
  .check_rm.clearfix {
    height: 1700px;
}    
  .method .mgt .p-method {
    position: relative;
    left: 18rem;
}
  .space_left {
    padding-left: 0px;
}
  a.return-c {
    display: none;
}
  h4.check-title-size {
    left: -150px;
    font-size: 36px;
}
/* section#center {
  background-color: #c4a265cc;
} */
._center {
  position: relative;
  /* left: 10em; */
  bottom: -2rem;
  width: 30%;
  font-size: 22px;
}
.onscroll {
  overflow-y: scroll;
  margin-left: 30px;
  line-height: 3.3em;
  max-height: 100px;
}
.check_rm.clearfix {
  position: relative;
  left: 95px;
  height: 950px;
}
#footer {
  text-align: left;
}
button.mgt.text-right._center.button.mgt {
  position: relative;
  left: 14rem;
}

}
@media only screen 
and (max-width: 731px)
and (min-width: 411px)
and (orientation: portrait)
{
  .social-media-icons a img {
    height: 55px;
}
  .copyright {
    font-size: 26px;
    width: 30%;
}
button.menu-toggle {
  width: 80%;
  height: 4.6875rem;
}
.mgt .button.mgt {
  position: relative;
  left: 1rem;
}
.check_lm4.clearfix {
  position: relative;
  left: 1rem;
}
.check_lm2.clearfix {
  width: 100%;
  text-align: left;
}
}

@media only screen 
and (max-width: 731px)
and (min-width: 411px)
and (orientation: landscape)
{
  .check-price .check-dprice {
    font-size: 22px;
    position: relative;
    left: -2.5rem;
}
  h5.mgt.move-right.move-to-top.margin-top {
    position: relative;
    top: -90px;
}
  h5.mgt.move-right.move-to-top.move-to-free {
    position: relative;
    top: -95px;
}
  .col-sm-6.move-free-pay {
    font-size: 26px;
    margin-top: 2rem;
}
  h6 {
    font-size: 26px;
  }
  .onscroll .check-pname {
    font-size: 26px;
}
  .container1 {
    padding-left: 100px;
    position: relative;
    width: 41%;
    left: 12rem;
}
  .check_lm {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 600px;
}
  h5 {
    font-size: 26px;
  }
  h5.move-free-data {
    position: relative;
    bottom: 12.5rem;
    left: 15rem;
}
  h4 {
    font-size: 30px;
  }
  .checkout {
    text-align: left;
  }
  li {
    font-size: 26px;
  }
  h4.check-title {
    text-align: left;
  }
  h5.move-free-data1 {
    position: relative;
    bottom: 1.8rem;
    /* left: 15rem; */
}    
  .checkout_1l3 h5 {
    text-align: left;
}    
  .space_left {
    padding-left: 0px;
    text-align: left;
}
  
  span.sp {
    font-size: 32px;
    text-align: left;
}
  .info-contacts {
    font-size: 32px;
    text-align: left;
  }
  .check_lm4.clearfix {
    position: relative;
    left: 0rem;
}
  .mgt .button.mgt {
    position: relative;
    left: -2rem;
}
  .space_right {
    padding-right: 0px;
}
  .space_all {
    padding-left: 0px;
    padding-right: 0px;
}
  .space_left {
    padding-left: 0px;
}
  .method .mgt .p-method {
    position: relative;
    left: 11rem;
}
  a.return-c {
    color: black;
    display: none;
}
  h4.check-title-size {
    position: relative;
    left: 55px;;
}
._center {
  width: 40%;
  position: relative;
  top: 2rem;
}
/* .mgt a {
  display: none;
} */
.check_rm.clearfix {
  position: relative;
  left: 75px;
} 
.check-dquantity {
  position: relative;
  left: 0rem;
  font-size: 26px;
}
.onscroll .check-price {
  position: relative;
  left: 10rem;
  text-align: left;
  font-size: 26;
}
.check-pname {
  font-size: 32px;
  position: relative;
  left: 0rem;
  margin-bottom: 1rem;
}

}

@media only screen 
and (max-width: 812px)
and (min-width: 375px)
and (orientation: landscape)
{
  /* .footer-1st-cont {
    justify-content: space-evenly;
    display: none;
} */
.footer-desc {
  margin: 10px 8px;
  width: 30%;
  position: relative;
  left: 5rem;
}
.footer-container {
  display: block;
  justify-content: space-evenly;
  display: flex;
}
/* .footer-desc {
  margin: 10px 8px;
  width: 30%;
} */
.footer-desc {
  margin: 10px 8px;
  width: 50%;
}
  h6.size-color1 {
    position: relative;
    color: #f6610a7a;
    bottom: 50px;
    left: 280px;
}
  h6.size-color {
    position: relative;
    color: #f6610a7a;
    bottom: 50px;
    left: 250px;
  }
  li {
      font-size: 26px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 26px;
  }
  h5.move-free-data {
    position: relative;
    bottom: 13rem;
    left: 15rem;
}
  h5.move-free-data1 {
    position: relative;
    bottom: 2.2rem;
    left: 15rem;
  }
  .check_lm {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 600px;
}
  .checkout_1.clearfix {
    display: flex;
    position: relative;
    left: -1rem;
  }
  .method .mgt .p-method {
    position: relative;
    left: 11rem;
}
.move-to-center {
  position: relative;
  bottom: 2rem;
  left: 200px;
}
.ship.col-sm-6 {
  position: relative;
  top: 19px;
}
h6 {
  font-size: 26px;
  margin-top: 20px;
  position: relative;
  left: 10rem;
}
._center {
  position: relative;
  left: 16em;
  bottom: -2rem;
  width: 30%;
}
.col-sm-6.move-free-pay {
  margin-top: 2rem;
  font-size: 24px;
}
}      



  /* img.footer-logos {
    display: none;

}
.footer-title-tweets {
  display: none;
}
.footer-tweet-time{
  display: none;
}
.footer-gallery {
  display: none;
}
.footer-desc {
  font-size: 26px;
} */
@media only screen 
and (max-width: 300px)
and (min-width: 280px)
and (orientation:portrait)
{


  .check_lm.clearfix {
    display: none;
}

section#center {
  height: 2150px;
}
.check_rm.clearfix {
  height: 1900px;
  width: 1000px;
  margin-top: 7rem;
  position: relative;
  left: -9rem;
  border-style: solid;
}

.checkout_1l2 p {
  margin-top: 15px!important;
  font-size: 43px;
  position: relative;
  left: -18rem;
  color: black;
}

h6.text-right {
  position: relative;
  left: 38rem;
  bottom: 4rem;
  font-size: 40px;
}

h4.check-title-size {
  font-size: 40px;
  position: relative;
  left: -109px;
}
._center {
  position: relative;
  left: -5rem;
  bottom: 7rem;
  width: 88%;
  font-size: 44px;
}

h6.c-size {
  font-size: 27px;
}
textarea.txt-size {
  width: 100%;
  height: 230px;
  border-color: black;
}
h5.normal {
  font-size: 45px;
  position: relative;
  right: 19rem;
}
.txt-size::placeholder {
  font-size: 40px;
}
h5.mgt.move-right.move-to-top.margin-top {
  position: relative;
  top: -84px;
}
h5.mgt.move-right {
  position: relative;
  top: -112px;
  font-size: 38px;
}
h5.mgt.move-right.move-to-top.move-to-free {
  position: relative;
  top: -131px;
}
h4.mgt2.move-right {
  font-size: 45px;
}
.footer-desc.footer-gallery {
  display: none;
}
.move-free-pay {
  font-size: 52px;
  position: relative;
  bottom: -7rem;
}
img.debit-icon {
  position: relative;
  width: 86px;
  left: 7px;
  top: 17px;
}
img.cod-icon {
  width: 88px;
  position: relative;
  left: 4px;
  top: 36px;
}
input[type=radio] {
  /* border: 0px; */
  width: 100%;
  height: 3em;
  position: relative;
  right: 21em;
}
label.free-move-debit {
  position: relative;
  bottom: 2em;
}
textarea { font-size: 60px; }
h5.normal.ship-bot {
  position: relative;
  bottom: -1em;
}
.shower_left h4 b, strong {
   margin-left: 0px;
}

}


@media only screen 
and (max-width:540px)
and (min-width:330px)
and (orientation:portrait)
{


  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 74%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    height: 35%;
    

}
.modal-header {
  padding: 2px 16px;
  background-color: #e2e1dfa1;
  color: white;
  height: 11%;
}

.col-sm-4 {
  float: left;
  width: 296px;
}
.modal_btn {
  position: relative;
  top: 71px;
  left: 20.5rem;
  font-size: 30px;
}
}


@media only screen 
and (max-width:300px)
and (min-width:280px)
and (orientation:portrait)
{

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 87%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    height: 40%;
}
.check_lm4 .form-control {
  height: 86px;
  margin-top: 15px;
  width: 94%;
  margin-left: 13px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
}

.check_lm4 .form-control {
  height: 120px;
  margin-top: 15px;
  width: 94%;
  margin-left: 13px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
}
.space_left {
  padding-left: 0;
}
.col-sm-4 {
  width: 304px;
  float: left;
}
input.form-control::placeholder {
  font-size: 30px;
}
.modal_btn {
  position: relative;
  top: 128px;
  left: 19rem;
  font-size: 39px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #e2e1dfa1;
  color: white;
  height: 13%;
}
img.modal-payment {
  position: relative;
  left: 181px;
  top: 2px;
  width: 566px;
}

}