.container-left {
    position: relative;
    left: 21%;
}

.col-sm-12 {
    display: inline-flex;
}

.col-sm-4 {
    position: relative;
    top: 180px;
}
.move-to-right {
    position: relative;
    left: 110%;
    bottom: 20%;
}

.col-sm-6.contact_bottom_main_left.clearfix {
    position: relative;
    left: 10%;
    top: 30%;
}


input.form-control {
    width: 86%;
}

textarea.form-control.form_1 {
    width: 138%;
}

h1.text-center {
    position: relative;
    left: 57%;
}

.contact_1.text-center {
    position: relative;
    left: 25%;
    text-align: center;
}

.contact_1.text-right {
    position: relative;
    left: 120%;
    text-align: center;
}

.contact_1.text-left {
    position: relative;
    right: 55%;
    text-align: center;
}

/* New update 012821 */
@media only screen 
and (max-width: 1024px)
and (min-width: 768px)
and (orientation: portrait)
{
    .topnav {
        width: 1440px;
    }
    .topnav.responsive .ordinary {
        font-size: 32px;
    }
    a#numb-item {
        position: absolute;
        background: #c4a256;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px 0;
        bottom: 51px;
        left: 34px;
        font-size: 35px;
    }
    .headmenu .icons .icons2 {
        width: 3.125rem;
        height: 3.124rem;
    }
    .headmenu .icons .icons3 {
        width: 3.1875rem;
    }
    .search-icon img {
        width: 2.8125rem;
        height: 2.8125rem;
    }
    .headmenu .des1 {
        font-size: 32px;
    }
    .headmenu .des2 {
        font-size: 24px;
    }
    span.footer-title {
        font-size: 32px;
    }
    .footer-title-gallery {
        height: 45px;
    }
    .footer-title-contact {
        height: 45px;
    }
    .info-contacts {
        font-size: 28px;
    }
    span.sp {
        font-size: 28px;
    }
    .copyright {
        font-size: 28px;
    }
    .copyright {
        font-size: 28px;
    }
    .user-name strong {
        font-size: 28px;
    }
    .dropdown-content-account a {
        font-size: 28px;
    }    
    button.menu-toggle {
        width: 50%;
        height: 50px;
        font-size: 32px;
    }    
    .topnav a {
        width: 300px;
    }    
    .container-left {
        position: relative;
        left: 5%;
    }
    .container {
        max-width: 1440px;
        width: 1440px;
    }
    #contact .container {
        width: 1300px;
    }
    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 32px;
        padding-bottom: 15px;
        color: #000;
    }
    h1.text-center {
        position: relative;
        left: 49%;
    }
    .contact_1.text-left {
        position: relative;
        right: 50%;
        text-align: center;
        font-size: 26px;
    }
    .contact_1.text-center {
        position: relative;
        left: -10%;
        text-align: center;
        font-size: 26px;
    }
    .contact_1.text-right {
        position: relative;
        left: 38%;
        text-align: center;
        font-size: 26px;
    }
    #contact .touch {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        color: #000;
        font-size: 28px;
    }
    .contact_2 .form-control {
        min-height: 65px;
        margin-bottom: 30px;
        font-size: 26px;
    }
    input.form-control {
        width: 100%;
    }
    textarea.form-control.form_1 {
        width: 120%;
        font-size: 26px;
    }
    .move-to-right {
        position: relative;
        left: 150%;
        bottom: 22%;
    }

}

@media only screen
and (max-width: 1024px)
and (min-width: 768px)
and (orientation: landscape){


    .container-left {
        position: relative;
        left: 14%;
    }
    

   
    
}

@media only screen
and (max-width: 1366px)
and (min-width: 1024px)
and (orientation: landscape){


    .container-left {
        position: relative;
        left: 14%;
    }
    strong {
        font-size: 18px;
    }
}

@media only screen 
and (max-width: 812px)
and (min-width: 375px)
and (orientation: portrait)
{

    span.footer-title {
        font-size: 46px;
    }
    .footer-title-gallery {
        height: 70px;
    }
    .footer-title-contact {
        height: 70px;
    }
    .copyright {
        font-size: 32px;
        width: 60%;
    }
    .social-media-icons a img {
        height: 54px;
    }
    .des-logo img {
        width: 300px;
    }
    button.menu-toggle {
        font-size: 48px;
        width: 70%;
        height: 70px;
    }
    .headmenu .icons .icons2 {
        width: 4.125rem;
        height: 4.125rem;
    }
    .headmenu .icons .icons3 {
        width: 4.1875rem;
    }
    .search-icon img {
        width: 3.8125rem;;
        height: 3.8125rem;
    }    
    .image-cont img {
        width: 107px;
    }
    .copyright {
        font-size: 38px;
        width: 60%;
    }
    .social-media-icons a img {
        height: 111px;
        position: relative;
        left:0px!important;
    }    
    .topnav.responsive .ordinary {
        font-size: 36px;
    }
    .topnav a {
        width: 300px;
    }
}

@media only screen 
and (max-width: 812px)
and (min-width: 375px)
and (orientation: landscape)
{

    

}

@media only screen 
and (max-width: 568px)
and (min-width: 320px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: 3%;
    }
    strong.user-n {
        font-size: 36px;
        position: relative;
        left: -10px;
    }
    .topnav.responsive a {
        max-height: 600px;
        width: 313px;
    }    
    .dropdown-content-account {
        font-size: 47px;
        width: 506px;
        left: -133px;
        top: 70px;
        line-height: 52px;
        border-radius: 27px;
    }
    h5.user-name {
        position: relative;
        left: 30rem;
    }    
    .topnav.responsive .ordinary {
        font-size: 45px;
        position: relative;
        left: 1.5em;
    }
    .headmenu .icons .icons2 {
        width: 106px;
        height: 95px;
        border-radius: 50%;
        margin-right: 23px;
    }
    .contact_bottom_main_right_top.clearfix {
        display: none;
    }

    .contact_1.text-center {
        position: relative;
        left: 100%;
        text-align: center;
        font-size: 26px;
        bottom: 10rem;
    }

    .col-sm-6.contact_bottom_main_left.clearfix {
        position: relative;
        left: 12%;
        top: 10%;
    }
    .contact_1.text-left {
        position: relative;
        right: -102%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }
    .contact_1.text-right {
        position: relative;
        left: 100%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }

    h1.text-center {
        display: none;
    }
    section#contact {
        height: 1500px;
    }
    #contact .container {
        width: 95%;
    }
    .contact {
        background: #f4f4f4;
        padding-top: 40px;
        height: 1500px;
    }
    textarea.form-control.form_1 {
        width: 263%;
        border: solid;
    }

    input.form-control {
        width: 100%;
    }
    .col-sm-6.contact_bottom_main_left.clearfix {
        width: 1000px;
    }
    .contact_2 .form-control {
        min-height: 100px;
        margin-bottom: 30px;
        border: solid;
    }

    #contact .touch {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        color: #000;
        font-size: 50px;
    }

    .place-font::placeholder {
        font-size: 43px;
    }
    .contact_3 a {
        font-size: 41px;
        letter-spacing: 2px;
        background: #000;
        color: #ffffff;
        padding: 15px 40px 15px 40px;
        border-radius: 6px;
    }
    .col-sm-12.move-t0-right {
        position: relative;
        right: 24rem;
    }
    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 50px;
        padding-bottom: 15px;
        color: #000;
    }
    .contact_1 .text_1 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px 25px 20px 25px;
    }
    .contact_1 .text_2 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px;
    }
    span.text_1 {
        font-size: 40px;
    }

}

@media only screen 
and (max-width: 640px)
and (min-width: 360px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: 0%;
    }
    strong.user-n {
        font-size: 40px;
        position: relative;
        left: -15px;
    }    
    a#numb-item {
        position: absolute;
        background: #c4a256;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px 0;
        bottom: 53px;
        left: 39px;
        font-size: 36px;
    }
    .topnav.responsive a {
        max-height: 600px;
        width: 282px;
    }    
    .col-sm-12.move-t0-right {
        position: relative;
        right: 29rem;
    }
    #contact .container {
        width: 100%;
    }
    img.d-arrow.dar {
        display: none;
    }
    .dropdown-content-account {
        width: 551px;
        height: 482px;
        font-size: 51px;
        line-height: 46px;
        left: -40px;
        top: 30px;
    }
    .dropdown-content-account a {
    
        width: 391px;
        padding: 18px 51px;
    }
    h5.user-name {
        position: relative;
        left: 30rem;
    }    
    .topnav.responsive .ordinary {
        font-size: 40px;
        position: relative;
        left: 2em;
    }
    .headmenu .icons .icons3 {
        margin-top: 7px;
        width: 78px;
        height: 68px;
    }
    .search-icon img {
        width: 78px;
        height: 68px;
        margin-right: 10px;
    }
    .des-logo img {
        width: 261px;
    }
    button.menu-toggle {
        width: 100%;
        height: 5.6875rem;
        font-size: 63px;
        border-radius: 7px;
    }
    span.footer-title {
        font-size: 50px;
    }
    span.sp {
        width: 65%;
        font-size: 45px;
        line-height: 56px;
    }
    .info-contacts {
        font-size: 45px;
        width: 29%;
    }
    .footer-contact-info {
        line-height: 67px;
        position: relative;
        /* left: 1em; */
    }
    .footers-copyright {
        display: flex;
        width: 100%;
        height: 200px;
    }
    .copyright {
        font-size: 40px;
    }
    .social-media-icons a img {
        height: 111px;
        position: relative;
        left: 14em;
    }    
    
    .container {
        max-width: 1440px;
        width: 1440px;
    }

    /* .col-sm-12 {
        display: table-header-group;
    }

    p.text_1 {
        font-size: 150px;
    }

    .c-size {
        font-size: 50px;
    }

    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 50px;
        padding-bottom: 15px;
        color: #000;
    }

    .contact_1.text-left.c-size {
        position: relative;
        left: 80%;
        bottom: 150px;
    } */

}


@media only screen 
and (max-width: 319px)
and (min-width: 280px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: 1%;
    }

} 

@media only screen 
and (max-width: 720px)
and (min-width: 540px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: 12%;
    }
    .contact_3 a {
        border-radius: 6px;
}
    .move-to-right {
        left: 110%;
    }
    .col-sm-12 .sub-button a {
        padding-left: -20px;
        padding-top: 50px;
    }
}


@media only screen 
and (max-width: 731px)
and (min-width: 411px)
and (orientation: landscape)
{
    .headmenu {
        width: 1440px;
    }
    .topnav {
        width: 1440px;
    }    
    .container {
        width: 1440px;
    }
    .move-to-right {
        position: relative;
        left: 565px;
        bottom: 20%;
    }
    .container-left {
        position: relative;
        left: 12%;
    }
    .image-cont img {
        width: 103px;
    }
    span.footer-title {
        font-size: 26px;
    }
    .info-contacts {
        font-size: 24px;
    }
    span.sp {
        font-size: 24px;
    }
    .copyright {
        font-size: 24px;
    }
    button.menu-toggle {
        width: 50%;
        height: 50px;
    }
    .headmenu .icons .icons2 {
        width: 3.125rem;
        height: 3.125rem;
    }
    .headmenu .icons .icons3 {
        width: 3.1875rem;
    }
    .search-icon img {
        width: 2.8125rem;
        height: 2.8125rem;
    }    
    .user-name strong {
        font-size: 26px;
    }
    .headmenu .des1 {
        font-size: 28px;
    }
    .headmenu .des2 {
        font-size: 20px;
    }
    .topnav a {
        width: 300px;
    }    
    .topnav.responsive .ordinary {
        font-size: 28px;
    }
}


@media only screen 
and (max-width: 731px)
and (min-width: 411px)
and (orientation: portrait)
{
    
    .headmenu .icons .icons2 {
        width: 5.125rem;
        height: 5.125rem!important;
    }
    .dropdown-content-account {
        height: 430px;
        width: 550px;
        line-height: 50px;
        font-size: 45px;
        left: -188px;
    }
    strong.user-n {
        font-size: 40px;
        position: relative;
        left: -40px;
    }    
    h5.user-name {
        position: relative;
        left: 1rem;
    }
    .dropdown-content-account a {
        width: 386px!important;
        padding: 10px 32px;
    }    
    .social-media-icons a img {
        height: 111px;
        position: relative;
        left: 0em;
    }
    .headmenu .icons .icons3 {
        margin-top: 7px;
        width: 103px;
        height: 71px;
    }    
    .headmenu .icons .icons3 {
        width: 5.1875rem;
    }
    .search-icon img {
        width: 4.8125rem;
        height: 4.8125rem;
    }    
    .topnav {
        width: 1440px;
    }
    .topnav.responsive .ordinary {
        font-size: 34px;;
    }
    .topnav a {
        width: 300px;
    }
    .d-arrow {
        width: 20px;
        left: 15%;
    }
    span.footer-title {
        font-size: 46px;
    }
    .footer-title-gallery {
        height: 70px;
    }
    .footer-title-contact {
        height: 70px;
    }
    .info-contacts {
        font-size: 42px;
    }
    span.sp {
        font-size: 42px;
    }
    /* .copyright {
        font-size: 36px;
        width: 60%;
    } */
    button.menu-toggle {
        width: 60%;
        height: 70px;
        font-size: 40px;
    }
    .des-logo img {
        width: 350px;
    }
    .headmenu .des-logo .logos {
        margin-left: 15px;
    }
    #contact .container {
        width: 1245px;
    }
    .container-left {
        position: relative;
        left: 7%;
    }
    #contact h1 {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 42px !important;
        padding-bottom: 60px;
        position: relative;
        left: 45%;
    }   
    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 36px;
        padding-bottom: 15px;
        color: #000;
    }
    .contact_1.text-left {
        position: relative;
        right: 45%;
        text-align: center;
        font-size: 27px;
    }
    .contact_1.text-center {
        position: relative;
        left: -22%;
        text-align: center;
        font-size: 27px;
    }
    .contact_1.text-right {
        position: relative;
        left: 0%;
        text-align: center;
        font-size: 27px;
    }
    #contact .touch {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        color: #000;
        font-size: 30px;
    }
    .contact_2 .form-control {
        min-height: 90px;
        margin-bottom: 30px;
        font-size: 28px;
    }
    input.form-control {
        width: 90%;
    }
    textarea.form-control.form_1 {
        width: 192%;
        border: solid;
    }
    .move-to-right {
        position: relative;
        left: 136%;
        bottom: 20%;
    }
    
}    


@media only screen 
and (max-width: 1366px)
and (min-width:1024px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: -27%;
    }
    a#numb-item {
        position: absolute;
        background: #c4a256;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px 0;
        bottom: 22px;
        left: 13px;
        font-size: 21px;
    }
    .info-contacts {
        font-size: 16px;
    }
    .footer-contact-info {
        line-height: 45px;
        width: 100%;
        padding-top: 29px;
    }
    .footer-desc {
        margin: 10px -16px!important;
        width: 270px!important;
    }
    .dropdown-content-account a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: 700;
        width: 300px;
    }
    span.sp {
        font-size: 17px;
    }
    span.footer-title {
        font-size: 19px;
    }
    .company-title {
        display: none;
    }
    .headmenu .sub-menu {
        font-size: 20px;
        padding: 5px;
        width: 38%;
        position: relative;
        right: 2em;
    }
    .icons-inputs {
        height: 48px;
        margin-top: 17px;
        position: relative;
        right: 2em;
    }
    .headmenu .icons .icons3 {
        width: 2.1875rem;
    }
    .headmenu .icons .icons2 {
        width: 2.125rem;
        height: 2.124rem;
    }
    input.form-control {
        width: 113%;
    }        
    .container {
        max-width: 1920px;
        width: 100%;
    }
    .contact_bottom_main_right_top.clearfix {
        display: none;
    }

    .contact_1.text-center {
        position: relative;
        left: 100%;
        text-align: center;
        font-size: 26px;
        bottom: 10rem;
    }

    .col-sm-6.contact_bottom_main_left.clearfix {
        position: relative;
        left: 123%;
        top: 4%;
    }
    .contact_1.text-left {
        position: relative;
        right: -86%;
        bottom: 11rem;
        text-align: center;
        font-size: 26px;
    }

    .contact_1.text-right {
        position: relative;
        left: 124%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }

    h1.text-center {
        display: none;
    }

}
@media screen and (min-width: 768px){
    span.sp {
        width: 300px;
    }
    .image-cont img {
        width: 137px;
    }    
    .footer-title-gallery {
        width: 300px;
    }    
}

@media only screen 
and (max-width:767px)
and (min-width:375px)
and (orientation: portrait)
{
    .dropdown-content-account {
        height: 430px;
        width: 550px;
        line-height: 50px;
        font-size: 45px;
    }
    strong.user-n {
        font-size: 40px;
        position: relative;
        left: -38px;
    }
    .dropdown-content-account a {
        width: 300px;
    }
    .dropdown-content-account {
        height: 430px;
        width: 550px;
        line-height: 50px;
        font-size: 45px;
        left: -207px;
        top: 30px;
    }
    .dropdown-content-account a {
        width: 471px;
        padding: 12px 51px;
    }
    h5.user-name {
        position: relative;
        left: 1rem;
    }
    .container-left {
        position: relative;
        left: 3%;
    }
    /* .dropdown-content-account {
        font-size: 45px;
        height: 177px;
        width: 332px;
        
    }     */
    .headmenu .icons .icons2 {
        width: 78px;
        height: 68px;
        border-radius: 50%;
        margin-right: 23px;
    }
    span.sp {
        font-size: 48px;
    }
    .info-contacts {
        font-size: 48px;
    }
    .footer-contact-info {
        line-height: 110px;
    }
    .copyright {
        font-size: 43px;
        width: 60%;
    }
    .contact_bottom_main_right_top.clearfix {
        display: none;
    }

    .contact_1.text-center {
        position: relative;
        left: 100%;
        text-align: center;
        font-size: 26px;
        bottom: 10rem;
    }

    .col-sm-6.contact_bottom_main_left.clearfix {
        position: relative;
        left: 18%;
        top: 10%;
    }
    .contact_1.text-left {
        position: relative;
        right: -102%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }
    .contact_1.text-right {
        position: relative;
        left: 100%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }

    h1.text-center {
        display: none;
    }
    section#contact {
        height: 1500px;
    }
    #contact .container {
        width: 95%;
    }
    .contact {
        background: #f4f4f4;
        padding-top: 40px;
        height: 1500px;
    }
    textarea.form-control.form_1 {
        width: 263%;
        border: solid;
    }

    input.form-control {
        width: 100%;
    }
    .col-sm-6.contact_bottom_main_left.clearfix {
        width: 1000px;
    }
    .contact_2 .form-control {
        min-height: 100px;
        margin-bottom: 30px;
        border: solid;
    }

    #contact .touch {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        color: #000;
        font-size: 50px;
    }

    .place-font::placeholder {
        font-size: 43px;
    }
    .contact_3 a {
        font-size: 41px;
        letter-spacing: 2px;
        background: #000;
        color: #ffffff;
        padding: 15px 40px 15px 40px;
        border-radius: 6px;
    }
    .col-sm-12.move-t0-right {
        position: relative;
        right: 29rem;
    }
    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 50px;
        padding-bottom: 15px;
        color: #000;
    }
    .contact_1 .text_1 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px 25px 20px 25px;
    }
    .contact_1 .text_2 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px;
    }
    span.text_1 {
        font-size: 40px;
    }
}

@media only screen 
and (max-width:736px)
and (min-width:414px)
and (orientation:portrait)
{

    textarea.form-control.form_1 {
        width: 261%;
        border: solid;
    }
    .headmenu .icons .icons2 {
        width: 110px;
        height: 77px;
        border-radius: 50%;
        margin-right: 23px;
    }
    strong.user-n {
        font-size: 40px;
        position: relative;
        left: -21px;
    }
}

@media only screen 
and (max-width:300px)
and (min-width:280px)
and (orientation: portrait)
{

    .container-left {
        position: relative;
        left: 3%;
    }
    strong.user-n {
        font-size: 38px;
        position: relative;
        left: 7px;
    }    
    .headmenu .icons .icons2 {
        width: 106px;
        height: 95px;
    }
    h5.user-name {
        position: relative;
        left: 29rem;
    }
    .dropdown-content-account {
        font-size: 47px;
        width: 532px;
        left: -175px;
        top: 70px;
        line-height: 52px;
        border-radius: 27px;
    }
    .contact_bottom_main_right_top.clearfix {
        display: none;
    }

    .contact_1.text-center {
        position: relative;
        left: 100%;
        text-align: center;
        font-size: 26px;
        bottom: 10rem;
    }

    .col-sm-6.contact_bottom_main_left.clearfix {
        position: relative;
        left: 12%;
        top: 10%;
    }
    .contact_1.text-left {
        position: relative;
        right: -102%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }
    .contact_1.text-right {
        position: relative;
        left: 100%;
        bottom: 10rem;
        text-align: center;
        font-size: 26px;
    }

    h1.text-center {
        display: none;
    }
    section#contact {
        height: 1500px;
    }
    #contact .container {
        width: 95%;
    }
    .contact {
        background: #f4f4f4;
        padding-top: 40px;
        height: 1500px;
    }
    textarea.form-control.form_1 {
        width: 263%;
        border: solid;
    }

    input.form-control {
        width: 100%;
    }
    .col-sm-6.contact_bottom_main_left.clearfix {
        width: 1000px;
    }
    .contact_2 .form-control {
        min-height: 100px;
        margin-bottom: 30px;
        border: solid;
    }

    #contact .touch {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        color: #000;
        font-size: 50px;
    }

    .place-font::placeholder {
        font-size: 43px;
    }
    .contact_3 a {
        font-size: 41px;
        letter-spacing: 2px;
        background: #000;
        color: #ffffff;
        padding: 15px 40px 15px 40px;
        border-radius: 6px;
    }
    .col-sm-12.move-t0-right {
        position: relative;
        right: 26rem;
    }
    .contact_1 h3 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        font-size: 50px;
        padding-bottom: 15px;
        color: #000;
    }
    .contact_1 .text_1 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px 25px 20px 25px;
    }
    .contact_1 .text_2 i {
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border: 2px solid #000;
        font-size: 2.5em;
        color: #fff;
        background: #000;
        padding: 20px;
    }
    span.text_1 {
        font-size: 40px;
    }

}
/* @media only screen and (max-width: 731px) {
.container-left {
    position: relative;
    left: 12%;
}
h1.text-center {
    position: relative;
    left: 65%;
}
} */



