.page-container {
    text-align: center;
    height: auto;
    /* padding: 43px 0; */
    /* margin: 0; */
    width: 100%;
}

td.td4 {
    position: relative;
    left: -85px;
}
td.td5 {
    position: relative;
    left: 20px;
}
td.td6 {
    position: relative;
    left: 10px;
}
td.td2 {
    position: relative;
    left: 10px;
}
.order-stat {
    text-align: center;
    background-color: #2a2c2f;
    width: 850px;
    position: relative;
    /* left: 31%; */
    height: auto;
    padding: 10px;
    margin: auto;
}
.order-stat a {
    text-align: center;
    font-weight: 600;
    padding: 15px;
    color: white;
}
.order-stat a:hover {
    color: #c4a256;
}


img.avatar.img-circle1 {
    position: relative;
    width: 300px;
    /* margin-left: 31%;
    margin-right: 22%; */
}

.active.container {
    width: 850px;
    height: 250px;
    background-image: linear-gradient(to right, #fdc912 , #feba12);
    /* margin-left: 31%; */
    margin: auto;
}
.line-loading {
    display: flex;
    justify-content: center;
}
img.line {
    position: absolute;
    top: -7rem;
    /* left: 40.1rem; */
}

.data-container {
    width: 850px;
    height: 550px;
    max-height: 1000px;
    background-color: #f9f9f9;
    /* margin-left: 31%;
    margin-top: 1rem; */
    border-color: #fdc7125e;
    border-style: solid;
    position: relative;
    top: 1rem;
    margin: auto;
}

h5.time {
    font-size: 22px;
    text-align: center;
}
h1.mins-title {
    font-size: 50px;
}

tr.tablerow {
    font-size: 23px;
    font-weight: bold;
}

td.margin-toptr {
    position: relative;
    top: 3rem;
    text-align: left;
}
.data-p {
    margin-left: 4rem;
    margin-right: 4rem;
}

td.margin-toptr.pp {
    position: relative;
    left: 10rem;
}
td.margin-toptr.qp {
    position: relative;
    left: 3rem;
}
td.check-data1 {
    font-size: 24px;
    position: relative;
    top: 4rem;
    text-align: left;
    width: 350px;
}
td.check-quantz1 {
    position: relative;
    top: 4rem;
    /* left: 7rem; */
    font-size: 24px;
}
td.check-price1 {
    position: relative;
    bottom: -4rem;
    left: 13rem;
    text-align: left;
    font-size: 24px;
}
button.receive {
    background-color: #fdc512;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 11rem;
}
/* .center td {
    width: 350px;
} */

