.page-container {
    text-align: center;
    height: auto;
    /* padding: 43px 0; */
    /* margin: 0; */
    width: 100%;
}

td.td4 {
    position: relative;
    left: -85px;
}
td.td5 {
    position: relative;
    left: 20px;
}
td.td6 {
    position: relative;
    left: 10px;
}
td.td2 {
    position: relative;
    left: 10px;
}
.order-stat {
    text-align: center;
    background-color: #2a2c2f;
    width: 700px;
    position: relative;
    /* left: 31%; */
    height: auto;
    padding: 10px;
    margin: auto;
}
.order-stat a {
    text-align: center;
    font-weight: 600;
    padding: 15px;
    color: white;
}
.order-stat a:hover {
    color: #c4a256;
}


img.avatar.img-circle1 {
    position: relative;
    width: 300px;
    /* margin-left: 31%;
    margin-right: 22%; */
}

.active.container {
    width: 700px;
    height: 250px;
    background-image: linear-gradient(to right, #fdc912 , #feba12);
    /* margin-left: 31%; */
    margin: auto;
}
.line-loading {
    display: flex;
    justify-content: center;
}
img.line {
    position: absolute;
    top: -7rem;
    /* left: 40.1rem; */
}

.data-container {
    width: 700px;
    height: 553px;
    max-height: fit-content;
    background-color: #f9f9f9;
    /* margin-left: 31%;
    margin-top: 1rem; */
    border-color: #fdc7125e;
    border-style: solid;
    position: relative;
    top: 1rem;
    margin: auto;
}

h5.time {
    font-size: 22px;
    text-align: center;
}
h1.mins-title {
    font-size: 50px;
}

tr.tablerow {
    font-size: 23px;
    font-weight: bold;
}

td.margin-toptr {
    position: relative;
    top: 3rem;
    text-align: left;
}
.data-p {
    margin-left: 4rem;
    margin-right: 4rem;
}

td.margin-toptr.pp {
    position: relative;
    left: 10rem;
}
td.margin-toptr.qp {
    position: relative;
    left: 3rem;
}
td.check-data1 {
    font-size: 22px;
    position: relative;
    top: 4rem;
    text-align: left;
}
td.check-quantz1 {
    position: relative;
    top: 4rem;
    left: 3rem;
}
td.check-price1 {
    position: relative;
    bottom: -4rem;
    left: 10rem;
    text-align: left;
}
button.receive {
    background-color: #fdc512;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 11rem;
}

@media only screen 
and (min-width:360px)
and (max-width:640px)
and (orientation:portrait){

    span.footer-title {
        font-size: 55px;
    }
    .info-contacts {
        font-size: 38px;
        width: 29%;
    }
    .footer-contact-info {
        line-height: 99px;
    }
    span.sp {
        width: 65%;
        font-size: 37px;
        line-height: 27px;
    }
}
@media only screen and (max-width: 1366px) {
    .active.container {
        width: 850px;
        margin: auto;
        margin-bottom: 10px;
    }
    .container {
        max-width: 1024px;
        width: 1464px;
    }
    .data-container {
        margin: auto;
        width: 850px;
    }   
    img.line {
        position: absolute;
        top: -7rem;
        /* left: 395px; */
    } 
    .order-stat {
        width: 850px;
        position: relative;
        /* left: 28.5%; */
        padding: 15px;
    }
    .header-container {
        width: 1440px;
    }
    .footer-section {
        width: 1440px;
    }   
    .page-container {
        position: relative;
        left: 13rem;
    }
    td.margin-toptr.qp {
        position: relative;
        left: 5rem;
    }
    td.check-quantz1 {
        position: relative;
        top: 4rem;
        left: 5rem;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 15rem;
    }
    td.check-price1 {
        position: relative;
        bottom: -4rem;
        left: 15.3rem;
        text-align: left;
    }

}

@media only screen and (max-width: 1024px) {
    img.d-arrow.dar {
        position: relative;
        right: 0em;
    }
  
    .icons2 {
        margin-left: -15px;
    }
    .headmenu .icons .icons2 {
        width: 2rem;
        height: 2rem;
    }
    .order-stat {
        padding: 15px;
        font-size: 22px;
        width: 850px;
        position: relative;
        /* left: 13.5%; */
    }
    .data-container {
        width: 850px;
        height: 625px;
    }    
    img.avatar.img-circle1 {
        position: relative;
        width: 400px;
        margin-left: 24%;
        margin-right: 24%;
    }
    .active.container {
        height: 300px;
        width: 850px;
    }
    h5.time {
        font-size: 32px;
        margin-left: 0;
        text-align: center;
    }
    button.receive {
        position: relative;
        top: 11rem;
        font-size: 40px;
        /* left: -4rem; */
    }
    td.margin-toptr {
        position: relative;
        top: 3rem;
        font-size: 35px;
    }
    tr.tablerow {
        font-size: 26px;
    }       
    td.check-data1 {
        font-size: 24px;
        text-align: left;
    }
    td.check-quantz1 {
        font-size: 24px;
        position: relative;
        left: 5rem;
    }       
    td.check-price1 {
        font-size: 24px;
        position: relative;
        left: 11.5rem; 
    }
    td.margin-toptr.pp {
        position: relative;
        left: 11rem;
    }
    img.line {
        position: absolute;
        top: -4rem;
    }   
    .headmenu .sub-menu {
        font-size: 22px;
    }
    .page-container {
        position: relative;
        left: 13rem;
    }    
}

@media only screen and (max-width: 866px) {
    .footer-2nd-cont {
        display: block;
    }   
    span.sp {
        width: 650px;
    }
    .image-cont {
        height: auto;
        gap: .5rem;
    }
    span.footer-title {
        font-weight: 700;
        font-size: 26px;
    }
    .footer-title-gallery {
        width: 675px;
    }   
    .page-container {
        position: relative;
        left: 18rem;
    }             
    .order-stat {
        padding: 15px;
        font-size: 22px;
        width: 850px;
        position: relative;
        /* left: 6.7%; */
    }
    .footer-section {
        width: 1440px;
    }
    .container {
        width: 867px;
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 140px; */
    }
    .footer-title-contact {
        width: 50%;
        height: 45px;
    }
    .info-contacts {
        font-size: 26px;
        width: 21%;
    }
    span.sp {
        font-size: 26px;
    }
    .copyright {
        font-size: 28px;
    }
    .social-media-icons a img {
        height: 55px;
    }
}    

@media only screen and (max-width: 812px) {
    .footer-section {
        width: 1440px;
    }
    .order-stat {
        padding: 15px;
        font-size: 22px;
        width: 850px;
        position: relative;
        /* left: 7%; */
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 135px; */
    }
    .footer-2nd-cont {
        display: block;
    }
    .image-cont {
        gap: .5rem;
        margin-bottom: 10px;
    }    
    .image-cont img {
        height: 103px;
        gap: .5rem;
    }
    span.footer-title {

        font-size: 26px;
    }
    .footer-title-gallery {
        color: #fff;
        width: 50%;
        height: 45px;    
    }
    span.sp {
        font-size: 26px;
        width: 650px;
        height: 50px;
    }
    .page-container {
        position: relative;
        left: 18rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 1440px;
    }
    .order-stat {
        padding: 15px;
        font-size: 24px;
        width: 850px;
        position: relative;
        /* left: 24.5%; */
    }
    .container {
        max-width: 1440px;
        width: 1464px;
    }
    .footer-section {
        width: 1440px;
    }
    .headmenu .icons .icons2 {
        width: 4rem;
        height: 4rem;
    }
    .d-arrow {
        position: relative;
        left: 10%;
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 425px; */
    }    

    /* navbar css */
    button.menu-toggle {
        width: 45%;
        height: 50px;
        font-size: 32px;        
    }   
    .search-icon img {
        width: 2.8125rem;
        margin-right: 15px;
        height: 2.8125rem;
        cursor: pointer;
    }
    .headmenu .icons .icons3 {
        width: 3.1875rem;
    }
    .headmenu .icons .icons2 {
        width: 3rem;
        height: 3rem;
    }
    .topnav.responsive .ordinary {
        width: 1440px;
    }    
    .page-container {
        position: relative;
        left: 0rem;
    }
    .headmenu .des1 {
        position: unset;
        font-size: 26px;
    }
    .headmenu .des2 {
        font-size: 20px;
    }
    /* .image-cont img {
        width: 103px;
    }     */
    .topnav {
        font-size: 32px;
        width: 1440px;
    }
    .topnav a {
        color: #fff;
        width: 300px;
        font-size: 32px;
    }
    .page-sub-container {
        margin: 6.75rem 0;
    }
    td.check-data1 {
        font-size: 24px;
        text-align: left;
    }
    span.footer-title {
        font-size: 32px;
    }
    .footer-title-gallery {
        width: 50%;
        height: 45px;
    }
    .image-cont img {
        margin: 5px;
        width: 92px;
    }
    .footer-desc {
        margin-bottom: 50px;
    }
}    

@media only screen and (max-width: 424px) {
    span.footer-title {
        font-size: 36px;
    }
    .info-contacts {
        font-size: 34px;
    }
    .social-media-link {
        width: 50%;
    }
    .footer-contact-info {
        line-height: 75px;
    }
    .footer-title-gallery {
        height: 50px;
    }
    .footer-title-contact {
        width: 50%;
        height: 50px;
    }
    .social-media-icons a img {
        height: 75px;
    }
    .copyright {
        font-size: 36px;
        width: 70%;
    }
    span.sp {
        font-size: 34px;
        width: 850px;
        height: 50px;
        line-height: 100px;
    }    
    .image-cont img {
        margin: 5px;
        width: 92px;
    }
    .des-logo img {
        width: 250px;
    }
    .headmenu .icons .icons2 {
        width: 4rem;
        height: 4rem;
    }
    .headmenu .icons .icons3 {
        width: 4.1875rem;
    }
    .search-icon img {
        width: 3.8125rem;
        margin-right: 15px;
        height: 3.8125rem;
        cursor: pointer;
    }
    button.menu-toggle {
        width: 50%;
        height: 55px;
        font-size: 35px;
    }
    .page-sub-container h1 {
        font-size: 40px;
    }
    .order-stat {
        padding: 15px;
        font-size: 32px;
    }
    h5.time {
        font-size: 38px;
    }
    img.line {
        position: absolute;
        top: -3rem;
    }
    td.margin-toptr {
        position: relative;
        top: 3rem;
        font-size: 36px;
    }
    td.check-data1 {
        font-size: 32px;
        text-align: left;
    }
    td.check-quantz1 {
        font-size: 32px;
        position: relative;
        left: 5rem;
    }
    td.check-price1 {
        font-size: 32px;
        position: relative;
        left: 11.5rem;
    }
    .data-container {
        width: 850px;
        height: 675px;
    }            
}    


@media only screen and (max-width: 414px) {
    
    .footer-section {
        width: 1440px;
    }
    .image-cont img {
        width: 210px;
    }
    .image-cont {
        height: 250px;
    }
    .data-container {
        width: 800px;
        height: 700px;
    }
    .page-container {
        height: 1500px;
        /* height: auto; */
        /* padding: 43px 0; */
        margin: 0;
        width: 100%;
    }
    .data-container {
        width: 750px;
        height: 740px;
    }
    img.line {
        position: absolute;
        top: -3rem;
    }
    .order-stat {
        padding: 20px;
        font-size: 34px;
        width: 850px;
        position: relative;
        /* left: 20.5%; */
    }
    .active.container {
        height: 300px;
        width: 850px;
    }
    .data-container {
        width: 850px;
        height: 700px;
    }
    tr.tablerow {
        font-size: 34px;
    }
    h5.time {
        font-size: 34px;
    }    
    td.check-data1 {
        font-size: 30px;
    }
    td.check-quantz1 {
        font-size: 30px;
    }
    td.check-price1 {
        font-size: 30px;
    }    
    button.menu-toggle {
        width: 50%;
        height: 60px;
        font-size: 38px;
    }
    button.receive {
        position: relative;
        top: 12rem;
        /* margin-left: 42%; */
        font-size: 42px;
        /* left: -6rem; */
    }
    td.margin-toptr.pp {
        position: relative;
        left: 8rem;
    }
    td.margin-toptr.qp {
        position: relative;
        left: 2rem;
    }
    td.check-price1 {
        position: relative;
        left: 8rem;
    }
    .copyright {
        font-size: 32px;
        width: 50%;
    }
    .social-media-icons a img {
        height: 60px;
    }
    .topnav a {
        width: 300px;
    }
    .topnav.responsive .ordinary {
        font-size: 40px;
    }
    .page-container {
        padding: 44px 0;
    }    
    .topnav {
        width: 1440px;
    }
    span.footer-title {
        font-size: 38px;
    }
    .footer-title-gallery {
        width: 50%;
        height: 55px;
    }.footer-title-contact {
        width: 50%;
        height: 55px;
    }
    .info-contacts {
        font-size: 36px;
        width: 26%;
    }
    span.sp {
        font-size: 36px;
        width: 950px;
        height: 50px;
        line-height: 100px;
    }
    .page-sub-container h1 {
        font-size: 42px;
    }
    td.margin-toptr {
        text-align: left;
        position: relative;
        top: 3rem;
        font-size: 35px;
    }
    td.check-quantz1 {
        font-size: 36px;
        left: 2rem;
    }
    .des-logo img {
        width: 250px;
    }
    .headmenu .icons .icons2 {
        width: 4rem;
        height: 4rem;
    }
    .headmenu .icons .icons3 {
        width: 4.1875rem;
    }
    .search-icon img {
        width: 3.8125rem;
        margin-right: 15px;
        height: 3.8125rem;
        cursor: pointer;
    }
    .topnav a {
        font-size: 40px;
    }
    .header-container {
        width: 1440px;
    }
}

@media only screen and (max-width: 375px) {
    .page-sub-container h1 {
        font-size: 48px;
    }
    .topnav a {
        font-size: 44px;
    }
    .order-stat {
        padding: 20px;
        font-size: 34px;
        width: 850px;
        position: relative;
        /* left: 20.5%; */
    }
    .active.container {
        height: 300px;
        width: 850px;
    }
    button.receive {
        position: relative;
        top: 12rem;
        font-size: 42px;
    }
    .data-container {
        width: 850px;
        height: 720px;
    }
    h5.time {
        font-size: 44px;
    }
    img.line {
        position: absolute;
        top: -1rem;
    }
    tr.tablerow {
        font-size: 38px;
    }
    td.check-data1 {
        font-size: 34px;
    }
    td.check-quantz1 {
        font-size: 34px;
        
    }
    td.margin-toptr.qp {
        position: relative;
        left: 2rem;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 5rem;
    }
    td.check-price1 {
        position: relative;
        left: 5rem;
        font-size: 34px;
    }
}    

@media only screen and (max-width: 320px) {
    .topnav {
        width: 1280px;
    }
    .headmenu .icons .icons3 {
        width: 4.1875rem;
        height: 4.1875rem;
    }
    .headmenu .icons .icons2 {
        width: 5rem;
        height: 5rem;
    }
    button.menu-toggle {
        width: 50%;
        height: 85px;
        font-size: 42px;
    }
    .header-container {
        width: 1280px;
    }
    .footer-section {
        width: 1280px;
    }
    .container {
        width: 1280px;
    }
    .data-container {
        width: 850px;
        height: 720px;
    }
    .active.container {
        height: 300px;
        width: 850px;
    }
    img.line {
        position: absolute;
        /* top: 65.5rem; */
        /* left: 350px; */
    }
    .order-stat {
        padding: 20px;
        font-size: 36px;
        width: 850px;
        position: relative;
        /* left: 17%; */
    }
    h5.time {
        font-size: 44px;
    }
    tr.tablerow {
        font-size: 36px;
    }
    td.check-data1 {
        font-size: 34px;
    }
    td.check-quantz1 {
        font-size: 34px;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 11rem;
    }
    td.check-price1 {
        position: relative;
        left: 11rem;
        font-size: 34px;
    }
    .headmenu .icons .icons2 {
        width: 5rem;
        height: 5rem;
        position: relative;
        top: .5rem;
    }
    .headmenu .des-logo .logos {
        width: 325px;
    }
}    