.page-container {
    text-align: center;
    height: auto;
    /* padding: 43px 0; */
    /* margin: 0; */
    width: 100%;
}

td.td4 {
    position: relative;
    left: -85px;
}
td.td5 {
    position: relative;
    left: 20px;
}
td.td6 {
    position: relative;
    left: 10px;
}
td.td2 {
    position: relative;
    left: 10px;
}
.order-stat {
    text-align: center;
    background-color: #2a2c2f;
    width: 850px;
    position: relative;
    /* left: 31%; */
    height: auto;
    padding: 10px;
    margin: auto;
}
.order-stat a {
    text-align: center;
    font-weight: 600;
    padding: 15px;
    color: white;
}
.order-stat a:hover {
    color: #c4a256;
}


img.avatar.img-circle1 {
    position: relative;
    width: 300px;
    /* margin-left: 31%;
    margin-right: 22%; */
}

.active.container {
    width: 850px;
    height: 250px;
    background-image: linear-gradient(to right, #fdc912 , #feba12);
    /* margin-left: 31%; */
    margin: auto;
}
.line-loading {
    display: flex;
    justify-content: center;
}
img.line {
    position: absolute;
    top: -7rem;
    /* left: 40.1rem; */
}

.data-container {
    width: 850px;
    height: 550px;
    max-height: 1000px;
    background-color: #f9f9f9;
    /* margin-left: 31%;
    margin-top: 1rem; */
    border-color: #fdc7125e;
    border-style: solid;
    position: relative;
    top: 1rem;
    margin: auto;
}

h5.time {
    font-size: 22px;
    text-align: center;
}
h1.mins-title {
    font-size: 50px;
}

tr.tablerow {
    font-size: 23px;
    font-weight: bold;
}

td.margin-toptr {
    position: relative;
    top: 3rem;
    text-align: left;
}
.data-p {
    margin-left: 4rem;
    margin-right: 4rem;
}

td.margin-toptr.pp {
    position: relative;
    left: 10rem;
}
td.margin-toptr.qp {
    position: relative;
    left: 3rem;
}
td.check-data1 {
    font-size: 24px;
    position: relative;
    top: 4rem;
    text-align: left;
    width: 350px;
}
td.check-quantz1 {
    position: relative;
    top: 4rem;
    /* left: 7rem; */
    font-size: 24px;
}
td.check-price1 {
    position: relative;
    bottom: -4rem;
    left: 13rem;
    text-align: left;
    font-size: 24px;
}
button.receive {
    background-color: #fdc512;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 11rem;
}
/* .center td {
    width: 350px;
} */

@media only screen 
and (min-width:360px)
and (max-width:640px)
and (orientation:portrait){

    span.footer-title {
        font-size: 55px;
    }
    .order-stat {
        padding: 20px;
        font-size: 48px;
        width: 1026px;
        position: relative;
        /* left: 20.5%; */
    }
    strong.user-n {
        font-size: 12px;
        position: relative;
        left: 7px;
    }
    a#numb-item {
        position: absolute;
        background: #c4a256;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px 0;
        bottom: 56px!important;
        left: 157px!important;
        font-size: 40px;
    }

    .dropdown-content-account {
        font-size: 47px!important;
        width: 468px!important;
        line-height: 50px!important;
        height: 430px!important;
    }
    .dropdown-content-account a {
        font-size: 44px;
        line-height: 70px!important;
        width: 280px;
    }    
    .info-contacts {
        font-size: 38px;
        width: 29%;
    }
    .cartpage-item {
        font-size: 33px;
        position: relative;
        right: 2rem;
    }
    .footer-contact-info {
        line-height: 99px;
    }
    span.sp {
        width: 65%;
        font-size: 37px;
        line-height: 27px;
    }
    /* Header */
.headmenu {
    display: flex;
    height: auto;
    padding: 112px 0;
    height: 594px;
  } 
  .des-logo img {
    width: 450px;
  }
  .search-icon img {
    width: 115px;
    height: 100px;
    margin-right: 10px;
  }
  .headmenu .icons .icons3 {
    margin-top: 7px;
    width: 115px;
    height: 100px;
  } 
  .headmenu .icons .icons2 {
    width: 130px;
    height: 110px;
    border-radius: 50%;
    margin-right: 51px;
    margin-left: 36px;
  }
  button.menu-toggle {
    width: 100%;
    height: 8.6875rem;
    font-size: 75px;
    border-radius: 15px;
  }
  a#numb-item {
    position: absolute;
    background: #c4a256;
    width: 91px;
    height: 89px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    padding: 4px 0;
    bottom: 1px;
    left: 71px;
    font-size: 69px;
  }
  .topnav.responsive {
    transition: .2s ease-in;
    border-top: solid #ccc 1px;
    height: 278px;
  }
  .topnav.responsive .ordinary {
    font-size: 71px;
    position: relative;
    left: -1em;
    padding: 43px 0px;
  }
  .topnav.responsive a {
    max-height: 600px;
    width: 465px;
  }
  .topnav a {
    width: 230px;
    font-size: 71px;
  
  }
  .d-arrow {
    width: 53px;
  }
  
  /* End of Header */
  
  /* Start of Footer */
  
  .footer-contact-info {
    line-height: 90px;
  }
  .info-contacts {
    font-size: 50px;
    width: 32%;
    position: relative;
    left: 1rem;
  }
  span.sp {
    width: 65%;
    font-size: 45px;
    line-height: 75px;
  }
  span.footer-title {
    font-size: 85px;
  }
  .image-cont img {
    width: 200px;
  }
  .image-cont {
    height: 300px;
    overflow: auto;
  }
  .social-media-icons a img {
    height: 110px;
  }
  
  /* End of Footer */
}
@media only screen and (max-width: 1366px) {
    /* .center td {
        width: 500px;
    } */
    .active.container {
        width: 850px;
        margin: auto;
        margin-bottom: 10px;
    }
    .container {
        max-width: 1024px;
        width: 1464px;
    }
    .data-container {
        margin: auto;
        width: 850px;
    }   
    img.line {
        position: absolute;
        top: -7rem;
        /* left: 395px; */
    } 
    .order-stat {
        width: 850px;
        position: relative;
        /* left: 28.5%; */
        padding: 15px;
        font-size: 32px;
    }
    .header-container {
        width: 1440px;
    }
    .footer-section {
        width: 1440px;
    }   
    .page-container {
        position: relative;
        left: 13rem;
    }
    td.margin-toptr.qp {
        position: relative;
        left: 5rem;
    }
    td.check-quantz1 {
        position: relative;
        top: 4rem;
        /* left: 11rem; */
    }
    td.margin-toptr.pp {
        position: relative;
        left: 15rem;
    }
    td.check-price1 {
        position: relative;
        bottom: -4rem;
        left: 13rem;
        text-align: left;
    }
    /* my profile */
    .user-name strong {
        font-size: 16px;
    }
    span.account-c {
        position: relative;
        left: 15px;
    }
    .librebais td {
        font-size: 20px;
    }
    .librebais a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .image-cont img {
        width: 90px;
    }
    .copyright {
        font-size: 18px;
    }
    span.account-c {
        position: relative;
        left: 25px;
    }
    img.d-arrow.dar {
        position: relative;
        right: 0em;
    }
    .user-name strong {
        font-size: 18px;
    }
    .dropdown-content-account {
        width: 250px;
    }
    .dropdown-content-account a {
        font-size: 18px;
    }    
    .icons2 {
        margin-left: -15px;
    }
    .order-stat {
        padding: 15px;
        font-size: 32px;
        width: 950px;
        position: relative;
        /* left: 13.5%; */
    }
    .data-container {
        width: 950px;
        height: 625px;
    }    
    img.avatar.img-circle1 {
        position: relative;
        width: 400px;
        margin-left: 24%;
        margin-right: 24%;
    }
    .active.container {
        height: 300px;
        width: 950px;
    }
    h5.time {
        font-size: 32px;
        margin-left: 0;
        text-align: center;
    }
    button.receive {
        position: relative;
        top: 11rem;
        font-size: 26px;
        /* left: -4rem; */
    }
    td.margin-toptr {
        position: relative;
        top: 3rem;
        font-size: 35px;
    }
    tr.tablerow {
        font-size: 26px;
    }       
    td.check-data1 {
        font-size: 26px;
        text-align: left;
        width: 355px
    }
    td.check-quantz1 {
        font-size: 26px;
        position: relative;
        /* left: 10.5rem; */
        width: 100px;
    }       
    td.check-price1 {
        font-size: 26px;
        position: relative;
        left: 10rem; 
        text-align: left;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 11rem;
    }
    img.line {
        position: absolute;
        top: -4rem;
    }   
    .headmenu .sub-menu {
        font-size: 22px;
    }
    .page-container {
        position: relative;
        left: 13rem;
    }    
}

@media only screen and (max-width: 866px) {
    .footer-2nd-cont {
        display: block;
    }   
    span.sp {
        width: 650px;
    }
    .image-cont {
        height: auto;
        gap: .5rem;
    }
    span.footer-title {
        font-weight: 700;
        font-size: 26px;
    }
    .footer-title-gallery {
        width: 675px;
    }   
    .page-container {
        position: relative;
        left: 16rem;
    }             
    .order-stat {
        padding: 20px;
        font-size: 22px;
        width: 950px;
        position: relative;
        /* left: 6.7%; */
    }
    .footer-section {
        width: 1440px;
    }
    .container {
        width: 867px;
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 140px; */
    }
    .footer-title-contact {
        width: 50%;
        height: 45px;
    }
    .info-contacts {
        font-size: 26px;
        width: 21%;
    }
    span.sp {
        font-size: 26px;
    }
    .copyright {
        font-size: 28px;
    }
    .social-media-icons a img {
        height: 55px;
    }
}    

@media only screen and (max-width: 812px) {
    .dropdown-content-account {
        width: 285px;
    }

    .footer-section {
        width: 1440px;
    }
    .order-stat {
        padding: 15px;
        font-size: 30px;
        width: 950px;
        position: relative;
        /* left: 7%; */
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 135px; */
    }
    .footer-2nd-cont {
        display: block;
    }
    .image-cont {
        gap: .5rem;
        margin-bottom: 10px;
    }    
    .image-cont img {
        height: 103px;
        gap: .5rem;
        width: 95px;
    }
    span.footer-title {

        font-size: 26px;
    }
    .footer-title-gallery {
        color: #fff;
        width: 50%;
        height: 45px;    
    }
    span.sp {
        font-size: 26px;
        width: 650px;
        height: 50px;
    }
    /* .page-container {
        position: relative;
        left: 18rem;
    } */
    /* my profile */
    .user-name strong {
        font-size: 20px;
    }
    .dropdown-content-account a {
        width: 150px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
       
    .active.container {
        height: 300px;
        width: 950px;
    }
    .data-container {
        width: 950px;
        height: 625px;
    }
    #myDropdown a {
        font-size: 24px;
    }
  
    .container {
        width: 1440px;
    }
    .order-stat {
        padding: 25px;
        font-size: 34px;
        width: 950px;
        position: relative;
        /* left: 24.5%; */
    }
    .container {
        max-width: 1440px;
        width: 1464px;
    }
    .footer-section {
        width: 1440px;
    }

    .d-arrow {
        position: relative;
        left: 10%;
    }
    img.line {
        position: absolute;
        top: -4rem;
        /* left: 425px; */
    }  
    td.check-quantz1 {
        font-size: 28px;
        width: 100px;
    }
    td.check-price1 {
        font-size: 28px;
        width: 300px;
        text-align: left;
        position: relative;
        left: 185px;
    }          

    /* navbar css */
    .add-to {
        position: relative;
        left: 3rem;
    }
    a#numb-item {
        position: absolute;
        background: #c4a256;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px 0;
        bottom: 45px;
        left: 43px;
        font-size: 40px;
    }      
    .page-container {
        position: relative;
        left: 0rem;
    }
    .headmenu .des1 {
        position: unset;
        font-size: 32px;
    }
    .headmenu .des2 {
        font-size: 24px;
    }
    /* .image-cont img {
        width: 103px;
    }     */
    .topnav {
        font-size: 32px;
        width: 1440px;
    }
    .topnav a {
        color: #fff;
        width: 300px;
        font-size: 32px;
    }
    .page-sub-container {
        margin: 6.75rem 0;
    }
    td.check-data1 {
        font-size: 28px;
        text-align: left;
        width: 355px;
    }
    span.footer-title {
        font-size: 32px;
    }
    .footer-title-gallery {
        width: 50%;
        height: 45px;
    }
    .image-cont img {
        margin: 5px;
        width: 95px;
    }
    .footer-desc {
        margin-bottom: 50px;
    }
    /* my profile */
    h5.user-name {
        font-size: 22px;
    }
    .dropdown-content-account {
        line-height: 46px;
        height: 280px;
        width: 393px;
        position: absolute;
        left: -7rem;
    }
    .dropdown-content-account a {
        font-size: 28px;
        line-height: 20px;
        width: 200px;
    }
    .user-name strong {
        font-size: 28px;
    }
}           
@media only screen and (max-width: 424px) {
    span.footer-title {
        font-size: 36px;
    }
    .info-contacts {
        font-size: 34px;
    }
    .social-media-link {
        width: 50%;
    }
    .footer-contact-info {
        line-height: 106px;
    }
    .footer-title-gallery {
        height: 50px;
    }
    .footer-title-contact {
        width: 50%;
        height: 50px;
    }
    .social-media-icons a img {
        height: 75px;
    }
    .copyright {
        font-size: 36px;
        width: 70%;
    }
    span.sp {
        font-size: 34px;
        width: 850px;
        height: 50px;
        line-height: 100px;
    }    
    .image-cont img {
        margin: 5px;
        width: 92px;
    }
    .page-sub-container h1 {
        font-size: 40px;
    }
    .order-stat {
        padding: 15px;
        font-size: 32px;
    }
    h5.time {
        font-size: 38px;
    }
    img.line {
        position: absolute;
        top: -3rem;
    }
    td.margin-toptr {
        position: relative;
        top: 3rem;
        font-size: 36px;
    }
    td.check-data1 {
        font-size: 40px;
        text-align: left;
        width: 480px;
    }
    td.check-quantz1 {
        font-size: 40px;
        position: relative;
        /* left: 5rem; */
    }
    td.check-price1 {
        font-size: 40px;
        position: relative;
        left: 11.5rem;
    }
    .data-container {
        width: 1200px;
        height: 675px;
    }            
}    


@media only screen and (max-width: 414px) {
    div#myDropdown {
        line-height: 25px;
        right: 395px;
    }
    #myDropdown a {
        font-size: 38px;
    }
    .add-to {
        position: relative;
        left: 0rem;
    }
    span.des5 {
        position: relative;
        right: 3rem;
    }
    .center td {
        width: 300px;
    }
    .user-name strong {
        font-size: 38px;
    }
    .footer-section {
        width: 1440px;
    }
    .image-cont img {
        width: 203px;
    }
    .image-cont {
        height: 200px;
    }
    .data-container {
        width: 800px;
        height: 700px;
    }
    .page-container {
        height: 1550px;
        /* height: auto; */
        /* padding: 43px 0; */
        margin: 0;
        width: 100%;
    }
    .data-container {
        width: 750px;
        height: 740px;
    }
    img.line {
        position: absolute;
        top: -1rem;
    }
    .order-stat {
        padding: 30px;
        font-size: 48px;
        width: 1300px;
        position: relative;
        /* left: 20.5%; */
    }
    .active.container {
        height: 300px;
        width: 1300px;
    }
    .data-container {
        width: 1300px;
        height: 700px;
    }
    tr.tablerow {
        font-size: 34px;
    }
    h5.time {
        font-size: 42px;
    }    
    td.check-data1 {
        font-size: 40px;
        width: 430px;
    }
    td.check-quantz1 {
        font-size: 30px;
    }
    td.check-price1 {
        font-size: 40px;
    }    
    button.receive {
        position: relative;
        top: 12rem;
        /* margin-left: 42%; */
        font-size: 38px;
        /* left: -6rem; */
    }
    td.margin-toptr.pp {
        position: relative;
        left: 8rem;
    }
    td.margin-toptr.qp {
        position: relative;
        left: 2rem;
    }
    td.check-price1 {
        position: relative;
        /* left: 18rem; */
    }
    .copyright {
        font-size: 32px;
        width: 50%;
    }
    .social-media-icons a img {
        height: 60px;
    }
    .topnav a {
        width: 300px;
    }
    .page-container {
        padding: 44px 0;
    }    
    .topnav {
        width: 1440px;
    }
    span.footer-title {
        font-size: 48px;
    }
    .footer-title-gallery {
        width: 50%;
        height: 60px;
    }.footer-title-contact {
        width: 50%;
        height: 55px;
    }
    .info-contacts {
        font-size: 42px;
        width: 26%;
    }
    span.sp {
        font-size: 42px;
        width: 950px;
        height: 50px;
        line-height: 100px;
    }
    .page-sub-container h1 {
        font-size: 48px;
    }
    td.margin-toptr {
        text-align: left;
        position: relative;
        top: 3rem;
        font-size: 35px;
    }
    td.check-quantz1 {
        font-size: 40px;
        /* left: 8rem; */
    }

    .topnav a {
        font-size: 40px;
    }
    .header-container {
        width: 1440px;
    }
    /* my profile dropdown */
    .dropdown-content-account {
        font-size: 47px;
        width: 550px;
        height: 400px;
    }.shower_left h4 b, strong {
        margin-left: 0;
    } 
    .dropdown-content-account a {
        width: 300px;
        font-size: 40px;
        line-height: 46px;
    }
    .dropdown-content-account {
    position: absolute;
    left: -8rem;
    height: 500px!important;
}   
    h5.user-name {
        font-size: 40px;
    } 
}

@media only screen and (max-width: 375px) {
    span.footer-title {
        font-size: 46px;
    }
    .info-contacts {
        font-size: 42px;
    }
    span.sp {
        font-size: 42px;
    }    
    .add-to {
        position: relative;
        left: 0rem;
    }
    span.des5 {
        position: relative;
        right: 3rem;
    }

    /* .center td {
        width: 450px;
    } */
    .page-sub-container h1 {
        font-size: 48px;
    }
    .topnav a {
        font-size: 44px;
    }
    .order-stat {
        padding: 20px;
        font-size: 48px;
        width: 1250px;
        position: relative;
        /* left: 20.5%; */
    }
    .active.container {
        height: 300px;
        width: 1250px;
    }
    button.receive {
        position: relative;
        top: 12rem;
        font-size: 46px;
        padding: 20px;
    }
    .data-container {
        width: 1250px;
        height: 720px;
    }
    h5.time {
        font-size: 46px;
    }
    img.line {
        position: absolute;
        top: 0rem;
    }
    tr.tablerow {
        font-size: 38px;
    }
    td.check-data1 {
        font-size: 42px;
        width: 500px;
    }
    td.check-quantz1 {
        font-size: 42px;
        width: 100px;
        
    }
    td.margin-toptr.qp {
        position: relative;
        left: 2rem;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 5rem;
    }
    td.check-price1 {
        position: relative;
        /* left: 17rem; */
        font-size: 42px;
        /* width: 500px; */
    }
    /* my profile */
    h5.user-name {
        font-size: 40px;
    }
    .dropdown-content-account {
        font-size: 47px;
        width: 430px;
        line-height: 50px;
        height: 420px;
    }
    .dropdown-content-account a {
        font-size: 44px;
        line-height: 48px;
        width: 280px;
    }
}    

@media only screen and (max-width: 320px) {
  
    /* .center td {
        width: 475px;
    } */
    strong.user-n {
        font-size: 12px;
        position: relative;
        left: 10px;
    }    
    .topnav {
        width: 1280px;
    }
    .dropdown-content-account {
        font-size: 47px!important;
        width: 480px!important;
        line-height: 50px!important;
        height: 475px!important;
        position: absolute;
        left: -6rem;
    }
    .headmenu .icons .icons3 {
        width: 5.1875rem;
        height: 5.1875rem;
    }

    button.menu-toggle {
        width: 55%;
        height: 95px;
        font-size: 42px;
    }
    .header-container {
        width: 1280px;
    }
    .footer-section {
        width: 1280px;
    }
    .container {
        width: 1280px;
    }
    .data-container {
        width: 1200px;
        height: 750px;
    }
    .active.container {
        height: 300px;
        width: 1200px;
    }
    img.line {
        position: absolute;
        /* top: 65.5rem; */
        /* left: 350px; */
    }
    .order-stat {
        padding: 30px;
        font-size: 48px;
        width: 1200px;
        position: relative;
        /* left: 17%; */
    }
    .page-sub-container h1 {
        font-size: 54px;
    }
    h5.time {
        font-size: 44px;
    }
    tr.tablerow {
        font-size: 36px;
    }
    td.check-data1 {
        font-size: 42px;
    }
    td.check-quantz1 {
        font-size: 42px;
        width: 100px;
    }
    td.margin-toptr.pp {
        position: relative;
        left: 11rem;
    }
    td.check-price1 {
        position: relative;
        /* left: 11rem; */
        font-size: 42px;
    }

    .headmenu .des-logo .logos {
        width: 325px;
    }
    .image-cont img {
        width: 190px;
    }
    /* my profile */
    .shower_left h4 b, strong {
        margin-left: 0;
    }    
    .dropdown-content-account {
        line-height: 20px;
        height: 455px;
        font-size: 47px;
    }
    .dropdown-content-account a {
        font-size: 44px;
        line-height: 20px;
        width: 300px;
    }
    .add-to {
        position: relative;
        left: 5rem;
    }
    a#numb-item {
        width: 67px;
        height: 67px;
        bottom: 50px;
        left: 58px;
    }
    img.icons2 {
        position: relative;
        left: 8rem;
    }
}    



@media screen and (max-width: 1024px) and (min-width: 768px){
    /* Header */
.headmenu {
    display: flex;
    height: auto;
    padding: 112px 0;
    height: 275px;
  }
  .headmenu .des-logo .logos {
    margin-left: 0px;
    margin-top: -58px;
  }
  .headmenu .des2 {
    color: #f3f2f1;
    /* position: absolute; */
    left: unset;
    font-size: 25px;
    top: 84px;
    width: 100%;
    font-weight: bold;
  }
  .headmenu .des1 {
    position: unset;
    font-size: 40px;
    /* display: none; */
  }
  .des-logo img {
    width: 250px;
  }
  .search-icon img {
    width: 115px;
    height: 100px;
    margin-right: 10px;
  }
  .headmenu .icons .icons3 {
    margin-top: 7px;
    width: 115px;
    height: 100px;
  } 
  .headmenu .icons .icons2 {
    width: 130px;
    height: 110px;
    border-radius: 50%;
    margin-right: 51px;
    margin-left: 36px;
  }
  button.menu-toggle {
    width: 100%;
    height: 8.6875rem;
    font-size: 75px;
    border-radius: 15px;
  }
  a#numb-item {
    position: absolute;
    background: #c4a256;
    width: 91px;
    height: 89px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    padding: 4px 0;
    bottom: 1px;
    left: 71px;
    font-size: 69px;
  }
  .topnav.responsive {
    transition: .2s ease-in;
    border-top: solid #ccc 1px;
    height: 175px;
  }
  .topnav.responsive .ordinary {
    font-size: 71px;
    position: relative;
    left: -1em;
    padding: 43px 0px;
  }
  .topnav.responsive a {
    max-height: 600px;
    width: 465px;
  }
  .topnav a {
    width: 230px;
    font-size: 71px;
  
  }
  .d-arrow {
    width: 53px;
  }
  
  /* End of Header */
  
  /* Start of Footer */
  
  .footer-contact-info {
    line-height: 90px;
  }
  .footer-title-gallery {
    width: 60%;
    height: 110px;
  }
  .info-contacts {
    font-size: 50px;
    width: 32%;
    position: relative;
    left: 1rem;
  }
  span.sp {
    width: 65%;
    font-size: 45px;
    line-height: 75px;
  }
  span.footer-title {
    font-size: 60px;
  }
  .image-cont img {
    width: 200px;
  }
  .image-cont {
    height: 300px;
    overflow: auto;
  }
  .social-media-icons a img {
    height: 110px;
  }
  
  /* End of Footer */
  }
  

