.col-md-prof {
    width: 30%;
    margin: auto;
    text-align: center;
}
.container_profile {
    width: 100%;
    display: block;
    /* justify-content: center; */
}
.btn-primary {
    background-color: #ff8800fc;
    border: #111;
    border-radius: 0;
    /* justify-content: center; */
    /* align-items: center; */
    display: block;
    margin: auto;
}
h3.p-info-size {
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
}
.btn-primary {
    background-color: #2a2c2f;
    border: #111;
    border-radius: 3px;
    /* justify-content: center; */
    /* align-items: center; */
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    color: white;
}
img.avatar.img-circle {
    width: 20%;
}
button.btn.btn-primary.moves-center:hover {
    background-color: #c4a265;
}
button.btn.btn-primary.moves-center-b:hover {
    background-color: #c4a265;
}    
div#edit-profile {
    width: 100%;
    width: 50%;
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #2a2c2f;
}
.prof-con {
    width: 100%;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.move-left a {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}
.edt {
    text-align: center;
}
input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input.form-control.file-size {
    width: auto;
}    

@media only screen and (max-width: 1200px){
    .move-left a {
        font-size: 18px;
    }
}    
@media only screen and (max-width: 1000px){
    .move-left a {
        font-size: 20px;
    }
}    
@media only screen and (max-width: 800px){
    .move-left a {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 13px;
    }
}    
@media only screen and (max-width: 600px){
    .move-left a {
        margin-right: 12px;
        margin-left: 12px;
        font-size: 13px;
    }
}    
@media only screen and (max-width: 500px){
    div#edit-profile {
        width: 60%;
    }
    input.form-control.file-size {
        width: 50%;
        font-size: 10px;
    }
    button.btn.btn-primary.moves-center {
        font-size: 14px;
        padding: 7px;
    }
}    
@media only screen and (max-width: 414px){
    input.form-control.file-size {
        width: 100%;
    }
    div#edit-profile {
        width: 100%;
        width: 85%;
        border-radius: 4px;
    }
    .move-left a {
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 375px){
    .move-left a {
        margin-right: 10px;
        margin-left: 10px;
    }
    button.btn.btn-primary.moves-center {
        font-size: 14px;
        padding: 7px;
    }
}        
@media only screen and (max-width: 320px){
    button.btn.btn-primary.moves-center {
        font-size: 14px;
        padding: 5px;
        border-radius: 2px;
    }
    input.form-control.file-size {
        width: 100%;
        font-size: 10px;
    }
    .move-left a {
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
    }
}
