tbody.cart-table-conts {
    display: block;
    overflow: auto;
    width: 875px;
    height: 500px;
    position: relative;
    right: 2rem;
}
a.mini-size {
    font-size: 13px!important;
}


@media only screen and (max-width: 1024px) {
    .image-cont img {
        width: 90px;
    }
    .librebais td {
        font-size: 22px;
    }
    tbody.cart-table-conts {
        width: 950px;
    }
    .headmenu .icons .icons3 {
        width: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .librebais a {
        font-size: 22px;
    }
}    
@media only screen and (max-width: 768px) {
    .headmenu .icons .icons3 {
        width: 4.1875rem;
    }
    .librebais td {
        width: 14%;
        text-align: center;
        font-size: 24px;
    }
    .librebais a {
        font-size: 28px;
    }
    button.reorder {
        font-size: 18px;
    }   
    .carted-item-name {
        width: 300px;
        text-align: left;
    }  
}    


@media only screen and (max-width: 731px) {
    #myDropdown a {
        font-size: 24px;
    }
}    
@media only screen and (max-width: 568px) {
    .dropdown-content-account a {
        font-size: 32px;
        line-height: 25px;
        width: 250px;
    }
    .user-name strong {
        font-size: 30px;
    }
    .dropdown-content-account {
        line-height: 50px;
        /* height: 300px; */
        width: 425px;
    }
    span.footer-title {
        font-size: 38px;
    }
    .info-contacts {
        font-size: 30px;
    }
    span.sp {
        font-size: 30px;
    }
}    
    button.receive {
        font-size: 30px;
    }
    #myDropdown a {
        font-size: 32px;
    }
    /* .dropdown-content-account {
        width: 350px;
    } */
    div#myDropdown {
        width: 19.9375rem;
    }
    .librebais img {
        width: 150px;
    }
    .librebais a {
        font-size: 23px;
    }
    .librebais td {
        font-size: 23px;
    }
    button.reorder {
        font-size: 17px;
    }
    .carted-item-name {
        width: 350px;
        text-align: left;
    }
    
  
@media only screen and (max-width: 411px) {
    .librebais a {
        font-size: 42px;
    }
    .librebais td {
        font-size: 42px;
    }
    tbody.cart-table-conts {
        width: 1150px;
    }
    .carted-item-name {
        width: 460px;
    }
    .librebais td {
        width: 16%;
    }
}    
@media only screen and (max-width: 411px) {
    .headmenu .icons .icons3 {
        width: 5.1875rem;
    }
    .librebais a {
        font-size: 38px;
    }
    .librebais td {
        width: 16%;
        text-align: center;
        font-size: 38px;
    }
    button.reorder {
        font-size: 28px;
    }
    .librebais img {
        width: 200px;
    }
    .cartpage-item {
        position: relative;
        right: 0rem;
    }
    tbody.cart-table-conts {
        display: block;
        overflow: auto;
        width: 1150px;
        height: 700px;
    }
    .carted-item-name {
        width: 450px;
    }
    #myDropdown a {
        font-size: 34px;
    }
    div#myDropdown {
        line-height: 25px;
        right: 385px;
        width: 21.9375rem;
    }   
    button.menu-toggle {
        font-size: 45px;
        width: 85px;
        height: 80px;
        border-radius: 0;
    } 
}    

@media only screen and (max-width: 375px) {
    span.cancel-cart {
        font-size: 48px;
    }
    tbody.cart-table-conts {
        width: 1050px;
    }
    .carted-item-name {
        width: 450px;
    }
    .librebais a {
        font-size: 42px;
    }
    .librebais td {
        width: 16%;
        font-size: 42px;
    }
    button.reorder {
        font-size: 34px;
    }
    .copyright {
        font-size: 38px;
    }
    .social-media-icons a img {
        height: 75px;
    }
    tbody.cart-table-conts {
        display: block;
        overflow: auto;
        width: 1100px;
        height: 700px;
    }
    div#myDropdown {
        width: 23.9375rem;
        height: 235px;
        right: 375px;
        line-height: 35px;
    }
    #myDropdown a {
        font-size: 40px;
    }
    .dropdown-content-account {
        width: 455px;
    }
    .des-logo img {
        width: 350px;
    }
}    
@media only screen and (max-width: 320px) {
    .librebais img {
        width: 210px;
    }
    .carted-item-name {
        width: 350px;
    }
    tbody.cart-table-conts {
        display: block;
        overflow: auto;
        width: 1150px;
        height: 750px;
    }
    .carted-item-name {
        width: 450px;
    }
    .headmenu .icons .icons2 {
        width: 5rem;
        height: 5rem;
    }
    .search-icon img {
        width: 4.8125rem;
        height: 4.8125rem;
    }
    .dropdown-content-account {
        width: 448px;
        height: 430px;
    }
    div#myDropdown {
        width: 25.9375rem;
        height: 240px;
        right: 285px;
        line-height: 35px;
    }
    #myDropdown a {
        font-size: 42px;
    }
    .headmenu .icons .icons2 {
        top: 1.5rem;
    }
    .info-contacts {
    font-size: 36px;
    }
    .info-contacts {
        font-size: 36px;
    }
    span.sp {
        font-size: 36px;
    }
    .search-icon {
        margin-top: 0;
    }
    .headmenu .icons .icons3 {
        margin-top: 0;
    }
    .headmenu .icons .icons2 {
        top: 0;
    }        
}    
