body{
    color: #8e9194;
    background-color: #f4f6f9;
}
.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}

.prof {
    position: relative;
    color: black;
}

#show-prof:hover {
    color: rgb(160, 131, 12);
  }
  #show-pass:hover {
    color: rgb(160, 131, 12);
  }
  div#map {
    position: relative;
    left: 177px;
}
a#show-address {
    position: relative;
    left: 90px;
}

div#edit-profile {
    width: 684px;
    position: relative;
    left: 183px;
}
a#show-address {
    position: relative;
    left: 35%;
}
a#show-prof {
    position: relative;
    left: 20%;
}

a#show-pass {
    position: relative;
    left: 27%;
}

.col-md-prof {

    
        width: 15%;
    
}

.rows2 {
    margin-left: 25%;
    /* margin-right: -15px; */
}

.move-lefts{width: 100%;}

.moves-center {
    text-align: center;
    position: relative;
    left: 204%;
}

.moves-center-b {
    position: relative;
    left: 21%;
}
div#changess-pass {
    width: 684px;
    position: relative;
    left: 183px;
}
div#addresses {
    width: 684px;
    position: relative;
    left: 183px;
}

.container_profile{

    position: relative;
    max-width: 1920px;

}

.container_profile{

    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  
}


input.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cf9d71;
    border-radius: 4px;
    box-sizing: border-box;
}

button.btn.btn-primary.moves-center-b {
    background-color: #ff8800fc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 37%;
}
button.btn.btn-primary.moves-center-b:hover {
    background-color: #ec8915;
}

input.btn.btn-default {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 19%;
}

input.btn.btn-default:hover {
    background-color: #45a049;
}
button.btn.btn-primary.moves-center {
    width: 100%;
    background-color: #0f6898;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn.btn-primary.moves-center:hover{

    background-color: #3e96c5;

}
a#show-address:hover {
    color: rgb(160, 131, 12);
}


@media only screen 
and (max-width: 1024px)
and (min-width: 768px)
and (orientation: portrait)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }

}

@media only screen 
and (max-width: 1024px)
and (min-width: 768px)
and (orientation: landscape)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }

}

@media only screen 
and (max-width: 1366px)
and (min-width: 1024px)
and (orientation: landscape)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }

}

@media only screen 
and (max-width: 640px)
and (min-width: 360px)
and (orientation: portrait)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }
    .footer-desc.footer-gallery {
        display: none;
    }
    .rows2 {
        margin-left: 25%;
        /* margin-right: -15px; */
        height: 2000px;
    }
    input.form-control {
        width: 137%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #cf9d71;
        border-radius: 4px;
        box-sizing: border-box;
        height: 111px;
        position: relative;
        right: 122px;
        border-style: solid;
        border-color: black;
    }
    .move-left {
        font-size: 40px;
        position: relative;
        right: 239px;
    }
    .form-group {
        font-size: 45px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: -14%;
        font-size: 45px;
    }
    button.btn.btn-primary.moves-center-b {
        background-color: #ff8800fc;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 39%;
        font-size: 40px;
    }
    label.col-lg-3.control-label {
        position: relative;
        right: 100px;
    }
    input.form-control::placeholder {
        font-size: 40px;
    }
    input[type="text"]
{
    font-size:50px;


}
h3.p-info-size {
    font-size: 40px;
}
button.btn.btn-primary.moves-center {
    width: 139%;
    background-color: #0f6898;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 34px;
}
input.form-control.file-size {
    width: 431px;
    height: 69px;
    font-size: 30px;
}
img.avatar.img-circle {
    width: 180px;
}
}

@media only screen 
and (max-width: 640px)
and (min-width: 360px)
and (orientation: landscape)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }
  

}


@media only screen 
and (max-width: 731px)
and (min-width: 411px)
and (orientation: landscape)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }

}

@media only screen 
and (max-width: 568px)
and (min-width: 320px)
and (orientation: portrait)
{

    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: -22%;
        width: 26%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }

}


@media only screen 
and (max-width: 320px)
and (min-width: 280px)
and (orientation: portrait)
{


    div#edit-profile {
        width: 684px;
        position: relative;
        left: 82px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 15%;
    }

    div#changess-pass {
        width: 684px;
        position: relative;
        left: 90px;
    }
    div#addresses {
        width: 684px;
        position: relative;
        left: 90px;
    }
    .footer-desc.footer-gallery {
        display: none;
    }
    .rows2 {
        margin-left: 25%;
        /* margin-right: -15px; */
        height: 2000px;
    }
    input.form-control {
        width: 137%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #cf9d71;
        border-radius: 4px;
        box-sizing: border-box;
        height: 111px;
        position: relative;
        right: 122px;
        border-style: solid;
        border-color: black;
    }
    .move-left {
        font-size: 40px;
        position: relative;
        right: 239px;
    }
    .form-group {
        font-size: 45px;
    }
    input.btn.btn-default {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: -20%;
        font-size: 45px;
    }
    button.btn.btn-primary.moves-center-b {
        background-color: #ff8800fc;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        left: 39%;
        font-size: 40px;
    }
    label.col-lg-3.control-label {
        position: relative;
        right: 100px;
    }
    input.form-control::placeholder {
        font-size: 40px;
    }
    input[type="text"]
{
    font-size:50px;


}
h3.p-info-size {
    font-size: 40px;
}
button.btn.btn-primary.moves-center {
    width: 139%;
    background-color: #0f6898;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 34px;
}
input.form-control.file-size {
    width: 431px;
    height: 69px;
    font-size: 30px;
}
img.avatar.img-circle {
    width: 180px;
}
.footer-desc.footer-gallery {
    display: none;
}

}