
.topnav{ height : auto; transition: .2s ease-in;}
.topnav  a { display: block; overflow: hidden;}
.topnav:not(responsive)  a {max-height: 0;}
.topnav.responsive  a {max-height: 600px;}
.topnav.responsive {transition: .2s ease-in;}

.topnav {
    position: absolute;
    z-index: 100;
	width: 100%;
}

.slider-conts img{
  /*transition: 0.8s;*/
  /*position: absolute;*/
  /*top: 0%;*/
  /*left: 50%;*/
  /*max-width: 200%;*/
  /*width: 100%;*/
  /*transform: translateX(-50%);*/
   /*Thanks  @bastian_fiessinger. Use when activating blur effect:
  will-change: -webkit-filter, filter, transform; 
*/}
#my-searches{
    position: absolute;
    background-color: #2a2c2f;
    z-index: 100;
    text-align: center;
    height: auto;
    padding: 36px 0;
    width: 100%;
}
#my-searches span {
    display: inline-flex;
}
.back-search {
    font-size: 63px;
    padding: 19px;
    color: #C4A265;
}

.search-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#my-searches input {
    height: 102px;
    width: 603px;
    border: solid #B89352;
    background-color: #4a4b4d;
    font-size: 72px;
    color: #fff;
}
#my-searches button {
    height: auto;
    border: solid #B89352;
    background: #B89352;
    width: 177px;
    font-size: 39px;
    color: #fff;
}
@media (max-width: 1920px){
	.footer-container {
    	padding: 66px 91px;
	}
	.icons {
    	width: 8%;
	}
	/*.page-wrapper {
	    margin: 105px 0%;
	}*/
}
@media (max-width: 1400px){
	/*.sub-menu .dropdown,.inputs {
		display: none;
	}
	.menu-toggle {
		display: none;
	}*/
	.container {
    	width: 1440px;
	}
	.search-icon img{
		width: 39px;
	    margin-right: 11px;
	    height: 47px;
	}
	/*.headmenu {
		max-width: 1366px;
	}*/
	.slider-conts {
	    height: 1200px;
	}
	.slide-image {
	    /*height: 500px;*/
        height: 1200px;
	}
	.sales1 {
	    width: 46%;
	    top: 33%;
	 	left: 9%;
	}
	.items.slider.slick-initialized.slick-slider {
    	margin: 0 -28px;
	    /*height: 333px;*/
        height: 372px;
	}
	.container .sub-container .bsp {
	    width: 32%;
	}
	/*bsp -----------------slick slider*/
	ul.slick-dots {
	    display: flex;
        width: 80%;
	    list-style: none;
	}
	.slick-dots {
	   width: 14%;
	}
	.slick-track {
    	width: 1366px;
	}
	.items.slider.slick-initialized.slick-slider {
    	margin: 0 135px;
	}
	.slick-list.draggable {
 	    width: 100%;
	}
	.container .sub-container .bsp {
	    margin-top: 29px;
	}
	.container .sub-container {
		min-height:30px;
		/*height: 161px;*/
		height: auto;
	    /*height: 900px;*/
	    position: relative;
	}
	/*-------------------------------------*/
	.__item {
	    width: 274px;
	}
	.__item .box3 span {
    	font-size: 17px;
	}
	.sub-container4 {
	    width: 100%;
	}
	.page-wrapper {
         margin: 83px 0;
	}
	.f-icon {
	    margin: 13px 43px;
	}
	.footer-container {
	    padding: 66px 38px;
	}
	.headmenu .sub-menu {
        font-size: 18px;
	    padding: 10px;
    	width: 40%;
	}
	.icons {
	    width: 10%;
	}
	.headmenu .inputs .inpt-search {
	    width: 221px;
	}
}
@media (max-width: 1220px){
	.headmenu {
		display: flex;
		width: 100%;
	}
	/*html, body {
	    width: 1440px;
	}*/
}
@media (max-width: 1024px){
	.headmenu .des-logo .logos {
	    margin-left: 0px;
	    margin-top: 0px;
	}
	.headmenu .des1 {
		top: 37px;
    	left: 88px;
	}
	.headmenu .des2 {
		top: 65px;
	    left: 89px;
	    font-size: 13px;
	}
	.headmenu .sub-menu {
   	 	font-size: 20px;
    	padding: 10px;
    	width: 50%;
	}
	/*.headmenu .inputs {
		left: 81%;
	    top: 28px;
	    width: 39%;
	}*/
	.headmenu .inputs .inpt-search {
		padding: 13px;
		width: 219px;
    	height: 30px;
	}
	.headmenu .inputs .btn-search {
		padding: 12px;
		font-size: 16px;
		height: 55px;
	}
	.headmenu .icons {
		left: 118%;
	    top: 42px;
	}
	.icons2 {
		margin-left: -4px;
	}
	.__item {
    	width: 343px;
	}
	.items-container {
		/*border: 1px solid red;*/
	    width: 85%;
	    margin: 0 auto;
	}
	.slide-image {
    	height: 800px;
	}
	.slider-conts {
    	height: 801px;
	}
	.sales1 {
		top: 22%;
	}
	.sales2 {
		font-size: 44px;
	}
	.sales3 {
		/*font-size: 82px;*/
	    font-size: 110px;
	}
	.sales4 {
		/*font-size: 24px;*/
	    font-size: 35px;
	}
	.bttn1 {
		padding: 14px;
    	width: 33%;
   		font-size: 26px;
	}
	.bttn2 {
		margin-left: 5px;
		padding: 14px;
        width: 33%;
   		font-size: 26px;
	}
	.hr {
		width: 28%;
	}
	.__item .box3 span {
	    font-size: 21px;
	    font-weight: bold;
	}
	.box3-info p {
		font-size: 18px;
	}
	.dropdown-content-account {
    	right: 0px;
	}
	.company-logo {
    	padding: 6px 36px;
	}
	.headmenu .des1 {
	    font-size: 18px;
	}

	/* new file for 1024px */
	.company-logo {
		width: 26%;
		display: flex;
		justify-content: center;
		padding: 10px 0;
	}

}
@media (max-width: 768px){
	.mobile-menu {
	    width: 23%;
	}
	.dropdown-content-account {
	    font-size: 31px;
	}
	.dropdown-content-account a {
    	width: 216px;
	}
	.headmenu .des-logo .logos {
   		margin-left: 20px;
    	margin-top: 5px;
	}
	ul.slick-dots {
    	width: 100%;
	    margin: 0px 0;
	}
	.icons-inputs {
    	display: none;
	}
	.headmenu .sub-menu {
		display: none;
	}
	.sub-menu .dropdown,.inputs {
		display: none;
	}
	.menu-toggle {
		display: block;
	}
	#my-searches input {
	    height: 47px;
		border-radius: 19px 0px 0px 19px;
		font-size: 37px;
		padding: 29px;
	}
	#my-searches button {
		font-size: 39px;
		border-radius: 0px 19px 19px 0px;
	}
	.headmenu {
   		/*height: 100px;*/
	    height: auto;
	    display: flex;
        width: 100%;
        justify-content: space-between;
	}
	.headmenu .icons {
	    position: unset; 
        width: 33%;
        padding: 25px 39px 22px 10px;
        display: flex;
        justify-content: flex-end;
        /*margin-top: 56px;
        margin-left: 65px;*/
        /*height: 100%;*/
        align-self: center;
	}
	.headmenu .des1{
		position: unset;
	    font-size: 42px;
		/*display: none;*/
	}
	.company-logo {
        width: 60%;
		display: flex;
        padding: 10px 20px;
        justify-content: end;
	}
	span.des-logo {
        width: 47%;
	    text-align: center;
	}
	.des-logo img {
	 	width: 309px;
	}
	.headmenu .des2 {
	    color: #c4a265;
	    /*position: absolute;*/
     	left: unset; 
        font-size: 27px;
	    top: 84px;
	    /*margin-left: 152px;*/
        width: 100%;
	    font-weight: bold;
	}
	.company-title {
	    padding: 25px 0;
	    /*display: none;*/
        align-self: center;
        width: 59%;
	}
	.headmenu .icons .icons2 {
       width: 4.125rem;
	}
	.headmenu .icons .icons3 {
	    width: 4.1875rem;
	    padding: 7px;
	}
	.search-icon {
		display: flex;
	}
	.search-icon img{
        width: 3.8125rem;
	    margin-right: 15px;
	    height: 3.8125rem;
	    cursor: pointer;
	}
	span.account-c {
    	left: 23px;
	}
	
	button.menu-toggle {
   	 /* width: 13%; */
	    width: 100%;
        height: 75px;
	    font-size: 39px;
	    color: #fff;
	    /*border: solid #B89352;*/
	    /*background-color: #2a2c2f;*/
	    background-color: #c4a265;
        border-radius: 9px;
        outline: none;
	}
	.dropdown-account {
    	width: 27%;
	}
	.topnav {
		background-color: #2a2c2f;
		/*width: 100%;*/
		display: flex;
	    overflow: auto;
	}
	.topnav a {
		color: #fff;
		/*padding-left: 152px;*/
	    width: 310px;
	}
	.topnav.responsive .ordinary {
	    font-size: 35px;
	    padding: 31px 0px;
	    width: 100%;
	    text-align: center;
	}
	.__item {
    	/*width: 357px;*/
	    width: 555px;
	}
	.items-container {
	    width: 100%;
		/*margin: 58px auto;*/
		height: auto;
	    justify-content: center;
	}
	.slide-image {
    	height: 1033px;
	}
	.slider-conts {
    	height: 1033px;
	}
	.bttn2 {
		margin-left: 5px;
	}
	.sales1 {
		top: 28%;
		width: 48%;
	}
	.d-arrow {
		width: 18px;
		top: 20%;
		left: 57%;
	}
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  overflow: auto;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}
	.items.slider.slick-initialized.slick-slider {
	    /*width: 80%;*/
        width: 100%;
	    overflow: hidden;
	    /*margin: 0 -36px;*/
        margin: 0 0px;
	    /*height: 662px;*/
        height: auto;
	}
	.item-image {
    	/*height: 281px; 01 09 21*/
	    height: auto; 
	}
	.container .sub-container .box {
 		height: auto; 
	}
	.container .sub-container .box .prod-image img {
        width: 100%;
    	/*height: 450px;*/
	    height: auto;
	}
	.__item .box2 {
	    height: 375px;
	}
	.__item .box2 img {
    	height: 100%;
	}
	.container .sub-container2 {
	    width: 100%;
	    /*margin-top: 27%;*/
	    background-color: #f6f4f2;
	    max-width: 1920px;
	    height: 2484px;
        height: auto;
	}
	.shower_right .panel-title {
		font-size: 30px;
	}
	.shower_right .panel-heading span {
		margin-top: -31px;
    	font-size: 27px;
	}
	.shower_right .panel-body ul li a {
		font-size: 31px;
	}
	div#myDropdown {
	    position: absolute;
	    border-radius: 10px;
        width: 15.9375rem;
		text-align: left;
		font-weight: bold;
	}
	.drpdwn {
		color: black;
    	background: #fff;
	    font-size: 33px;
	    padding: 15px;
	    border-radius: 6px;
	}
	#myDropdown a {
    	color: black;
		padding: 10px 0;
		font-size: 16px;
	}
	#myDropdown {
		z-index: 99999;
	}
	.slick-list {
    	margin: 0 -50px;
	}
	.page-wrapper {
  		position: relative;
	    flex-wrap: wrap;
        height: auto;
        justify-content: center;
	}
	.f-icon {
        height: auto;
	    width: 458px;
        text-align: center;
	}
	a.icon1 {
		display: block;
	}
	.f-icon img {
    	width: 108px;
	}
	.sub-container4 {
    	height: auto;
	    padding: 65px 0;
	}
	.qual-icon-cont p,.qual-icon-cont span{
        font-size: 32px;
    	width: auto;
	}
	.prices {
	    font-size: 30px;
	}
	span.product-name {
        font-size: 36px;
	}
	button.buttoncat {
   	    font-size: 21px;
    	width: 63%;
	}
	.__item .box3 span {
	    /*font-size: 30px;*/
		font-size: 29px;
	    font-weight: bold;
	}
	.box3-info p {
	    font-size: 28px;
	}
	.footer-container {
	    display: block;
	}
	.footer-1st-cont {
    	justify-content: space-between;
	    width: 100%;
        padding-bottom: 100px;
        display: none;
	}
	.footer-2nd-cont {
    	justify-content: space-between;
    	display: block;
	}
	.footer-info {
	    width: auto;
	}
	.footer-logo {
    	width: 100%;
	    justify-content: unset;
	}
	.footer-desc {
    	width: 100%;
	}
	.info-paragraph {
    	font-size: 35px;
    	display: none;
	}
	span.footer-des-logo {
    	width: 100%;
	    padding-right: 25px;
	}
	span.des1 {
	    font-size: 42px;
	}
	.des2 {
	    font-size: 25px;
	}
	span.footer-title {
	    font-size: 40px;
	}
	.footer-title-tweets {
	    width: 60%;
	    height: 75px;
	}
	.footer-title-gallery {
    	width: 60%;
	    height: 75px;
	}
	.footer-tweet-time {
    	font-size: 30px;
	}
	.footer-title-contact {
    	width: 60%;
	    height: 75px;
	}
	.footer-contact-info {
	    /*line-height: 48px;*/
        line-height: 55px;
	}
	span.sp {
	    width: 63%;
    	font-size: 32px;
	}
	.info-contacts {
    	font-size: 34px;
    	width: 21%;
	}
	.image-cont img {
   		margin: 5px;
    	width: 196px;
	}
	.copyright {
    	font-size: 35px;
	}
	.social-media-icons a img {
   	 	height: 66px;
    	margin: 19px 20px;
	}
	.container .sub-container2 .sc2 {
	    font-size: 40px;
	}
	.quality-cont img {
    	height: 500px;
	}
	.centered {
	    border-top: 5px solid #ffffffbf;
	    border-bottom: 5px solid #ffffffbf;
	    padding-bottom: 36px;
	    padding-top: 36px;
	}
	.icons {
    	 align-items: unset; 
	}
	.login-reg-form input {
		 height: 96px;
 		font-size: 29px;
	}
	.account-log {
	    width: 90%;
	}
	.social-log {
    	width: 90%;
	}
	button.btn.btn-success.btn-block {
    	 height: 96px;
	     width: 90%;
         font-size: 33px;
	}
	.btn-primary#btn-signup {
		 height: 96px;
 		 width: 90%;
	     font-size: 31px;
    }
    button.btn.facebook-btn.social-btn {
		 height: 96px;
	     font-size: 20px;
    }
    button.btn.google-btn.social-btn {
		 height: 96px;

		 font-size: 20px;
    }
    .reset-btn {
	    height: 64px;
    	padding: 25px;
	}
	.signup-inputs {
    	width: 88%;
	}
	.sign-up {
    	height: 72px;
    	width: 89%;
	    font-size: 27px;
	}
    #resetEmail {
    	height: 64px;
	}
    .forgot-pass a {
    	font-size: 23px;
	}
    .shop_main {
    	min-height: 456px;
    }
    .shop h2 {
	    font-size: 57px;
	    margin-top: 172px;
	}
	.container {
	    width: 1440px;
	}
	.col-sm-9 {
	    width: 100%;
	}
	.col-sm-3 {
	    width: 25%;
	    display: none;
	}
	.col-sm-4 {
	    margin-top: 20px;
	}
	.filter-categ {
		border-color: 1px solid red;
		padding: 10px;
	}
	.shower_left h4 {
	    font-size: 40px;
	    text-align: center;
	    margin-left: -284px;
	}
	/*.shower_left h4 b, strong {
		margin-left: -245px;
	}*/
	.center_1_middle_left_2_inner h3 a {
		font-size: 38px;
	}
	.center_1_middle_left_2_inner h5 {
	    font-size: 26px;
	}
	.center_1_middle_left_2_inner h6 {
	    font-size: 35px;
	}
	.blog_2_left_main_inner_4 .active_3 a {
		font-size: 41px;
		padding: 8px 22px;
	}
	.blog_2_left_main_inner_4 ul li a {
		font-size: 41px;
	}
	.blog_2_left_main_inner_4 ul .last_tab a {
		font-size: 32px!important;
	}

}
@media (max-width: 500px) {
	button.menu-toggle {
		/*margin-top: 70px;*/
		font-size: 44px;
	}
	.des-logo img {
	    width: 399px;
	}
	.headmenu .des-logo .logos {
		margin-left: 57px;
	}
	.headmenu .des1 {
		/*font-size: 37px;*/
	    font-size: 55px;
	}
	.headmenu .des2 {
    	font-size: 39px;
	    width: 33%;
	    line-height: 61px;
	    margin-left: 160px;
	    display: none;
	}
	.slide-image {
		height: 878px;
	}
	.sales1 {
		width: 59%;
	}
	.sales2 {
	    font-size: 80px;
	}
	.sales3 {
	    font-size: 104px;
	}
	.sales4 {
	    font-size: 45px;
	}
	.bttn1 {
		padding: 23px;
	    width: 31%;
	    font-size: 35px;
	}
	.bttn2 {
		padding: 23px;
	    width: 38%;
	    font-size: 35px;
	}
	.slider-conts {
	    height: 996px;
	}
	.items.slider.slick-initialized.slick-slider {
	    width: 100%;
	}
	span.product-name {
		font-size: 62px;
	}
	.prices {
		font-size: 46px;
	}
	.__item {
	    width: 582px;
	}
	.__item .box2 {
	    height: 430px;
	}
	.__item .box3 .box3-details .product-title {
		font-size: 46px;
	}
	.__item .box3 .box3-details .items-price {
		font-size: 52px;
	}
	.__item .box3 .box3-info .box3-item-info {
		line-height: 64px;
		font-size: 43px;
	}
	.__item .box3 .box3-info .more {
		font-size: 50px;
	}
	div#myDropdown {
	    width: 24%;
    	font-weight: bold;
	}
	.topnav {
		/*height: 142px;*/
	}
	.topnav.responsive .ordinary {
		font-size: 50px;
	    padding: 46px 17px;
	}
	.drpdwn {
		font-size: 34px;
	}
	/*.drpdwn.seafoodDrp {
		margin-top: 100px;
    	margin-left: 323px;
	}*/
	/*.drpdwn.meatDrp {
	    margin-left: 591px;
	    margin-top: 101px;
	}*/
	.shop_main {
	    min-height: 660px;
	}
	.shop h2 {
	    font-size: 85px;
	    margin-top: 267px;
	}
	.shower_left h4 {
	    font-size: 75px;
	    margin-left: -301px;
	}
	.shower_right .panel-primary>.panel-heading {
	    display: flex;
	}
	.shower_right .panel-title {
		font-size: 54px;
	}
	.shower_right .panel-heading span {
		margin-top: -1px;
	    margin-left: 88%;
	    font-size: 50px;
	}
	.center_1_middle_left_2_inner h3 a {
	    font-size: 88px;
	}
	.center_1_middle_left_2_inner h5 {
	    font-size: 51px;
	}
	.center_1_middle_left_2_inner h6 {
	    font-size: 56px;
	}
	.footer-2nd-cont {
		display: block;
	}
	img.footer-logos {
	    width: 99%;
	}
	span.footer-title {
	    font-size: 54px;
	}
	span.footer-title {
	    font-size: 54px;
	}
	.image-cont img {
	    width: 303px;
	}
	.info-contacts {
	    font-size: 46px;
	}
	.info-paragraph {
	    font-size: 58px;
	    line-height: 71px;
	}
	span.sp {
	    font-size: 39px;
	}
	.footer-tweet-time {
	    font-size: 46px;
	}
	#Btop {
		width: 126px;
    	height: 109px;
	}
	#Btop img {
	    height: 90px;
	}
	#myDropdown a {
		padding: 10px 43px;
	}
	.container .sub-container .bsp {
	    font-size: 61px;
	    width: 50%;
	}
	.container .sub-container2 .sc2 {
	    font-size: 64px;
	}
	.hr {
	    width: 56%;
	}
	.centered {
		width: 64%;
		font-size: 73px;
	}
	button.buttoncat {
	    font-size: 39px;
	    width: 65%;
	    height: 92px;
	}
	.f-icon {
		width: 561px;
	}
	.f-icon img {
	    width: 164px;
	}
	.qual-icon-cont p, .qual-icon-cont span {
	    font-size: 40px;
	    line-height: 48px;
	}
	#my-searches input {
		height: 46px;
		/*width: 762px;*/
	}
	.shop-items-conts {
	    width: 95%;
	    margin: 0 auto;
	}
	.shop-items {
	    width: 48%;
	}
	.shop-images img {
		height: 26.5625rem;
	    width: 100%;
	    object-fit: cover;
	}
	.shop-info-price {
	    font-size: 51px;
	}
	.shop-anchors {
		font-size: 56px;
	}
	span.filter-show {
	    font-size: 41px;
	}
	.shop-sorting {
	    font-size: 49px;
	}
	.shop-sorting a {
		font-size: 69px;
	}
	#slider-range span {
    	height: 44px;
    	width: 44px;
	}
	#slider-range {
    	height: 15px;
	}
	button.filter-by-price {
	    padding: 35px 83px;
    	font-size: 48px;
    	margin: 16px 0;
	}
	.title-header {
    	font-size: 43px;
	}
	.shop-filters {
	    	line-height: 97px;
		}
	.filter-cat {
	        font-size: 57px;
		}
	.showing {
	    width: 46.4375rem;
	}
	.shop-cols {
		/*width: 46%;*/
	    display: inline-block;
	    margin: 9px 24px;
	}
	.shop-imgs {
		width: 100%;
	}
	span.des-logo {
	    width: 54%;
	}
	.company-logo {
	    width: 69%;
	}


}
@media (max-width: 375px) {
	.box3-info p {
    	font-size: 31px;
	}
	.f-icon img {
		width: 86px;
	}
	.f-icon strong {
		font-size: 21px;
	}
	.f-icon p {
		/*font-size: 18px;*/
	    font-size: 31px;
	}
	.f-icon .buttoncat {
		padding: 15px 32px;
		font-size: 20px;
	}
	.container .sub-container2 {
	    height: auto;
	}
	.items-container {
		width: 100%;
	}
	.__item {
	    width: 619px;
	}
	.items.slider.slick-initialized.slick-slider {
   		width: 100%;
    	height: auto;
	}
	.slide-image {
    	height: 797px;
	}
	.container .sub-container {
	    height: auto;
	    min-height: 30px;
	}
	span.product-name {
	    font-size: 40px;
	}
	.prices {
	    font-size: 38px;
	}
	.slider-conts {
    	height: 889px;
	}
	.container .sub-container .bsp {
    	/*margin-top: -3px;*/
	    margin-top: 16px;
	}
	.sales1 {
        width: 71%;
	    top: 24%
	}
	.dropdown-content-account {
	    font-size: 35px;
	}
	.dropdown-content-account a {
    	width: 215px;
	}
	.mobile-menu {
    	width: 20%;
	}
	.headmenu {
	    height: 277px;
	}
	.headmenu .des-logo .logos {
	    margin-left: 0;
	    margin-top: 0;
	}
	.des-logo img {
	    width: 368px;
	    margin-top: 75px;
	}
	button.menu-toggle {
	    font-size: 46px;
	    /*margin-top: 75px;	*/
	}
	.col-sm-4 {
		width: 50%;
    	float: left;
	}
	.headmenu .des2 {
	    font-size: 41px;
	    width: 109%;
	    position: absolute;
	    top: 32%;
	    left: -90px;
	}
}
@media (max-width: 360px) {
	.container {
		width: 1440px;
	}
	.headmenu {
	    display: flex;
    	height: auto;
       	padding: 61px 0;
	}	
	.headmenu .icons {
    	width: 100%;
	    display: flex;
	    justify-content: center; 
	    padding: 0;
	    margin: 0;
	}
	.mobile-menu {
        width: 22%;
    	text-align: -webkit-center;
	}
	.des-logo img {
    	width: 502px;
	}
	.headmenu .des1 {
    	font-size: 66px;
	}
	.headmenu .des2 {
   		font-size: 46px;
    	width: 100%;
    	position: unset;
	}
	.headmenu .des-logo .logos {
	    /*margin-left: 98px;*/
	    margin-top: -30px;
	}
	.dropdown-content-account {
    	font-size: 43px;
	    width: 300px;
	    right: unset;
	}
	.dropdown-content-account a{
    	padding: 24px 27px;
	}
	.company-title {
    	display: none;
	}
	.topnav.responsive .ordinary {
	    font-size: 47px;
	}
	span.des-logo {
	    width: 70%;
    	text-align: center;
	}
	button.menu-toggle {
        width: 100%;
        height: 6.6875rem;
	    /*margin: 90px 0;*/
	    font-size: 50px;
        border-radius: 13px;
	}
	.search-icon img {
    	width: 5.9375rem;
    	height: 5.9375rem;
	}
	.headmenu .icons .icons3 {
	    width: 6.6875rem;
	}
	.headmenu .icons .icons2 {
	    width: 6.4375rem;
	}
	.toggle-cart-sidenav img {
	    display: none;
	}
	.company-logo {
	    width: 100%;
    	justify-content: center;
	    padding: 10px 0px;
	}
	.slick-list.draggable {
    	width: 100%;
	}
	.container .sub-container .box {
		margin-top: 45px;
	}
	.container .sub-container .box img {
	    width: 100%;
	    /*height: 228px;*/
        height: auto;
	    object-fit: cover;
	}
	.container .sub-container {
	    height: auto;
        padding: 35px 0;
	}
	.container .sub-container2 {
		height: auto;
	}
	.__item {
	    width: 1174px;
	}
	.__item .box2 {
	    height: 623px;
	    border-radius: 15px;
	}
	.__item .box2 img {
		object-fit: cover;
	}
	.__item .box3 {
		margin-top: 50px;
	}
	.__item .box3 span {
		font-size: 62px;
	}
	.box3-info p {
		font-size: 47px;
	}
	.bttn1 {
		padding: 26px;
	    width: 33%;
	    font-size: 37px;
	}
	.bttn2 {
		margin-left: 15px;
	    padding: 26px;
	    width: 40%;
	    font-size: 37px;
	}
	.f-icon strong {
    	font-size: 43px;
    	/*margin-left: 112px;*/
	}
	.f-icon p {
    	font-size: 43px;
    	text-align: center;
	}
	.info-paragraph {
	    font-size: 43px;
	}
	span.footer-title {
        font-size: 66px;
	}
	.footer-tweet-time {
	    font-size: 42px;
	}
	.info-tel, .info-phone, .info-fax, .info-mail, .info-address, .info-web {
		font-size: 19px;
	}
	.copyright {
	    font-size: 34px;
	}
	.container .sub-container2 .sc2 {
		font-size: 71px;
	}
	.hr {
	    width: 68%;
	}
	.items-container {
	    width: 74%;
	    overflow: auto;
	    height: 87%;
	}
	.select-more {
		margin: 54px 0px;
	}
	.quality-cont img {
		height: 731px;
    	object-fit: cover;
	}
	.centered {
		font-size: 105px;
		width: 79%;
	}
	.page-wrapper {
		overflow-x: auto;
	}
	.f-icon {
		margin: 13px 43px;
        width: 81%!important;
    	padding-bottom: 87px;
	}
	.f-icon img {
	    width: 167px;
	    /*margin-left: 200px;*/
	}
	.f-icon .buttoncat {
	    padding: 39px 32px;
	    font-size: 49px;
	    width: 588px;
	}
	.sub-container4 {
	    width: 100%;
        height: auto;
	}
	.slide-image {
        height: 1179px;
	}
	.slider-conts {
	    height: 1145px;
	}
	.sales2 {
	    font-size: 90px;
	}
	.sales3 {
	    font-size: 133px;
	}
	.sales4 {
	    font-size: 55px;
	}
	.sales1 {
	    width: 60%;
	    top: 18%;
	}
	/*.item-name {
		margin-top: -40px;
	}*/
	.prices {
	    font-size: 46px;
	}
	.container .sub-container .bsp {
		width: 49%;
		font-size: 60px;
	}
	span.product-name {
	    font-size: 60px;
    	font-weight: 700;
	}
	.slider-conts {
	    height: 1179px;
	}
	#slide-container {
    	height: auto;
	}
	.container .sub-container .box .prod-image img {
   		width: 100%;
    	height: auto;
	}
	.footer-container {
    	display: block;
	}
	.footer-1st-cont {
    	width: auto;
    	padding-bottom: 50px;
	}
	.footer-2nd-cont {
    	width: auto;
    	justify-content: center;
	    display: block;
	}	
	.footer-desc {
    	width: 588px;
	}
	.footer-logo {
    	 justify-content: unset; 
	}
	.footer-info {
	    width: 100%;
	}	
	.footer-des-logo img {
	    width: 534px;
	}
	.qual-icon-cont p, .qual-icon-cont span {
	    font-size: 50px;
    	line-height: 95px;
	}
	span.footer-des-logo {
    	width: auto;
	}
	.des2 {
	    font-size: 36px;
	}
	.name-title {
	    padding-left: 40px;
	}
	.footer-title-gallery {
    	width: 60%;
	    height: auto;
	    padding-bottom: 60px;
	}
	.footer-contact-us {
		width: 100%;
	}
	.footer-title-tweets {
        width: 79%;
	    height: auto;
	    padding-bottom: 61px;
	}
	.footer-title-contact {
	    width: 60%;
	    height: auto;
	    padding-bottom: 56px;
	}
	.footer-gallery {
		width: 100%;
		padding: 72px 0;
	}
	.image-cont img {
    	width: 304px;
	}
	.gallery-images {
    	width: auto;
	}
	.info-contacts {
	    font-size: 50px;
	}
	span.sp {
	    width: 50%;
        font-size: 44px;
		line-height: 84px;
	}
	span.des1 {
    	font-size: 63px;
	}
	.tweets {
    	height: 43px;
    	padding-right: 18px;
	}
	.info-paragraph {
	    line-height: 97px;
	}
	.info-paragraph {
    	font-size: 70px;
	}
	.toggle-cart-sidenav img {
	    width: 131px;
	}
	.item-on-cart {
    	overflow: auto;
    	height: 396px;
	}
	
	/*.sales1 {
		top: 0!important;
	}*/
	.shop_main {
	    min-height: 703px;
	}
	.shop h2 {
	    font-size: 93px;
	    margin-top: 273px;
	}
	.shower_left h4 {
	    font-size: 88px;
	    margin-left: -145px;
	}
	.shower_left h4 b, strong {
	    margin-left: -492px;
	}
	.shower_right .panel-primary>.panel-heading {
		display: flex;
	}
	.shower_right .panel-heading span {
	    margin-top: 1px;
	    margin-left: 79%;
	    font-size: 55px;
	}
	.shower_right .panel-title {
		font-size: 57px;
	}
	.center_1_middle_left_2_inner h3 a {
	    font-size: 115px;
	}
	.center_1_middle_left_2_inner h6 {
	    font-size: 75px;
	}
	.center_1_middle_left_2_inner h5 {
	    font-size: 64px;
	}
	.blog_2_left_main_inner_4 .active_3 a {
	    font-size: 90px;
	    padding: 8px 33px;
	}
	.blog_2_left_main_inner_4 ul li a:hover {
		padding: 8px 33px;
	}
	.blog_2_left_main_inner_4 ul li a {
	    font-size: 90px;
	}
	.blog_2_left_main_inner_4 ul .last_tab a {
	    font-size: 63px!important;
	}
	#Btop {
		width: 164px;
    	height: 126px;
	}
	#Btop img {
	    height: 121px;
	}
	.dropdown-account {
        width: 20%;
	}
}
