
.topnav{ height : auto; transition: .2s ease-in;}
.topnav  a { display: block; overflow: hidden;}
.topnav:not(responsive)  a {max-height: 0;}
.topnav.responsive  a {max-height: 600px;}
.topnav.responsive {transition: .2s ease-in;}

.topnav {
    position: absolute;
    z-index: 100;
    width: 1349px;
}

.slider-conts img{
  /*transition: 0.8s;*/
  /*position: absolute;*/
  /*top: 0%;*/
  /*left: 50%;*/
  /*max-width: 200%;*/
  /*width: 100%;*/
  /*transform: translateX(-50%);*/
   /*Thanks  @bastian_fiessinger. Use when activating blur effect:
  will-change: -webkit-filter, filter, transform; 
*/}
#my-searches{
    position: absolute;
    background-color: #2a2c2f;
    z-index: 100;
    text-align: center;
    height: auto;
    padding: 36px 0;
    width: 1348px;
}
.search-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#my-searches input {
    height: 102px;
    width: 603px;
    border: solid #B89352;
    background-color: #4a4b4d;
    font-size: 72px;
    color: #fff;
}
#my-searches button {
    height: auto;
    border: solid #B89352;
    background: #B89352;
    width: 177px;
    font-size: 39px;
    color: #fff;
}

@media (max-width: 1400px){
	/*.sub-menu .dropdown,.inputs {
		display: none;
	}
	.menu-toggle {
		display: none;
	}*/
	
	.search-icon img{
		width: 39px;
	    margin-right: 11px;
	    height: 47px;
	}
	.headmenu {
		max-width: 1366px;
	}
	.slider-conts {
	    height: 1200px;
	}
	.slide-image {
	    /*height: 500px;*/
        height: 1200px;
	}
	.sales1 {
	    width: 46%;
	    top: 33%;
	 	left: 9%;
	}
	.items.slider.slick-initialized.slick-slider {
    	margin: 0 -28px;
	    /*height: 333px;*/
        height: 372px;
	}
	.container .sub-container .bsp {
	    width: 32%;
	}
	/*bsp -----------------slick slider*/
	ul.slick-dots {
	    display: flex;
        width: 80%;
	    list-style: none;
	}
	.slick-dots {
	   width: 14%;
	}
	.slick-track {
    	width: 1366px;
	}
	.items.slider.slick-initialized.slick-slider {
    	margin: 0 135px;
	}
	.slick-list.draggable {
 	    width: 100%;
	}
	.container .sub-container .bsp {
	    margin-top: 29px;
	}
	.container .sub-container {
		min-height:30px;
		/*height: 161px;*/
		height: auto;
	    /*height: 900px;*/
	    position: relative;
	}
	/*-------------------------------------*/
	.__item {
	    width: 274px;
	}
	.__item .box3 span {
    	font-size: 17px;
	}
	.sub-container4 {
	    width: 100%;
	}
	.page-wrapper {
         margin: 83px 0;
	}
	.f-icon {
	    margin: 13px 43px;
	}
	.footer-container {
	    padding: 66px 38px;
	}
	.headmenu .sub-menu {
        font-size: 18px;
	    padding: 10px;
    	width: 40%;
	}
	.icons {
	    width: 10%;
	}
	.headmenu .inputs .inpt-search {
	    width: 221px;
	}
}
@media (max-width: 1220px){
	.headmenu {
		display: flex;
	}
	html, body {
    	width: 1348px;
	}
}
@media (max-width: 1024px){
	.headmenu .des-logo .logos {
	    margin-left: 0px;
	    margin-top: 0px;
	}
	.headmenu .des1 {
		top: 37px;
    	left: 88px;
	}
	.headmenu .des2 {
		top: 65px;
	    left: 89px;
	    font-size: 13px;
	}
	.headmenu .sub-menu {
   	 	font-size: 20px;
    	padding: 10px;
    	width: 50%;
	}
	/*.headmenu .inputs {
		left: 81%;
	    top: 28px;
	    width: 39%;
	}*/
	.headmenu .inputs .inpt-search {
		padding: 13px;
		width: 219px;
    	height: 30px;
	}
	.headmenu .inputs .btn-search {
		padding: 12px;
		font-size: 16px;
		height: 55px;
	}
	.headmenu .icons {
		left: 118%;
	    top: 42px;
	}
	.icons2 {
		margin-left: -4px;
	}
	.__item {
    	width: 343px;
	}
	.items-container {
		/*border: 1px solid red;*/
	    width: 85%;
	    margin: 0 auto;
	}
	.slide-image {
    	height: 800px;
	}
	.slider-conts {
    	height: 801px;
	}
	.sales1 {
		top: 22%;
	}
	.sales2 {
		font-size: 44px;
	}
	.sales3 {
		/*font-size: 82px;*/
	    font-size: 110px;
	}
	.sales4 {
		/*font-size: 24px;*/
	    font-size: 35px;
	}
	.bttn1 {
		padding: 14px;
    	width: 33%;
   		font-size: 26px;
	}
	.bttn2 {
		margin-left: 5px;
		padding: 14px;
        width: 33%;
   		font-size: 26px;
	}
	.hr {
		width: 28%;
	}
	.__item .box3 span {
	    font-size: 21px;
	    font-weight: bold;
	}
	.box3-info p {
		font-size: 18px;
	}
	.dropdown-content-account {
    	right: 0px;
	}
	.login-reg-form {
	    margin: 6% auto;
	}
	.company-logo {
    	padding: 6px 36px;
	}
	.headmenu .des1 {
	    font-size: 18px;
	}

	/* new file for 1024px */
	.company-logo {
		width: 26%;
		display: flex;
		justify-content: center;
		padding: 10px 0;
	}

}
@media (max-width: 768px){
	.mobile-menu {
    	width: 20%;
	}
	.dropdown-content-account {
	    font-size: 31px;
	}
	.dropdown-content-account a {
    	width: 216px;
	}
	.headmenu .des-logo .logos {
   		margin-left: 20px;
    	margin-top: 5px;
	}
	ul.slick-dots {
    	width: 100%;
	    margin: 0px 0;
	}
	.icons-inputs {
    	display: none;
	}
	.headmenu .sub-menu {
		display: none;
	}
	.sub-menu .dropdown,.inputs {
		display: none;
	}
	.menu-toggle {
		display: block;
	}
	.headmenu {
   		/*height: 100px;*/
	    height: auto;
	    display: flex;
        width: 100%;
	}
	.headmenu .icons {
	    position: unset; 
        width: 30%;
        padding: 25px 39px 22px 10px;
        display: flex;
        justify-content: flex-end;
	}
	.headmenu .des1{
		position: unset;
		font-size: 32px;
	}
	.company-logo {
	    width: 50%;
		display: flex;
	    padding: 10px 36px;
        justify-content: end;
	}
	span.des-logo {
	    width: 32%;
	}
	.des-logo img {
	 	width: 167px;
	}
	.headmenu .des2 {
	    color: white;
	    /*position: absolute;*/
     	left: unset; 
	    font-size: 20px;
	    top: 84px;
	}
	.company-title {
	    padding: 25px 0;
	    /*display: none;*/
	}
	.headmenu .icons .icons2 {
       width: 52px;
	}
	.headmenu .icons .icons3 {
	    width: 56px;
	    padding: 7px;
	}
	.search-icon {
		display: flex;
	}
	.search-icon img{
	    width: 50px;
	    margin-right: 15px;
	    height: 51px;
	    cursor: pointer;
	}
	span.account-c {
    	left: 23px;
	}
	button.menu-toggle {
	    /*width: 13%;*/
       /* width: auto;
	    height: 71px;
	    margin: 14px 0;
	    font-size: 25px;
        color: #fff;
    	border: solid #B89352;
    	background-color: #2a2c2f;*/
	}
	button.menu-toggle {
   	 /* width: 13%; */
	    width: 100%;
	    height: 106px;
	    margin: 14px 0;
	    font-size: 39px;
	    color: #fff;
	    border: solid #B89352;
	    background-color: #2a2c2f;
	}
	.topnav {
		background-color: #2a2c2f;
		/*width: 100%;*/
		display: flex;
	}
	.topnav a {
		color: #fff;
		/*padding-left: 152px;*/
	}
	.topnav.responsive .ordinary {
	    font-size: 35px;
	    padding: 31px 0px;
	    width: 100%;
	    text-align: center;
	}
	.__item {
    	/*width: 357px;*/
	    width: 555px;
	}
	.items-container {
	    width: 100%;
		/*margin: 58px auto;*/
		height: auto;
	    justify-content: center;
	}
	.slide-image {
    	height: 1033px;
	}
	.slider-conts {
    	height: 1033px;
	}
	.bttn2 {
		margin-left: 5px;
	}
	.sales1 {
		top: 28%;
		width: 48%;
	}
	.d-arrow {
		width: 18px;
		top: 20%;
		left: 57%;
	}
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  overflow: auto;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}
	.items.slider.slick-initialized.slick-slider {
	    /*width: 80%;*/
        width: 100%;
	    overflow: hidden;
	    /*margin: 0 -36px;*/
        margin: 0 0px;
	    /*height: 662px;*/
        height: auto;
	}
	.item-image {
    	/*height: 281px; 01 09 21*/
	    height: auto; 
	}
	.container .sub-container .box {
 		height: auto; 
	}
	.container .sub-container .box .prod-image img {
        width: 100%;
    	/*height: 450px;*/
	    height: auto;
	}
	.__item .box2 {
	    height: 375px;
	}
	.__item .box2 img {
    	height: 100%;
	}
	.container .sub-container2 {
	    width: 100%;
	    /*margin-top: 27%;*/
	    background-color: #f6f4f2;
	    max-width: 1920px;
	    height: 2484px;
        height: auto;
	}
	div#myDropdown {
	    position: absolute;
	    border-radius: 10px;
        width: auto;
	}
	.drpdwn {
		color: black;
		width: 136px;
    	background: #fff;
    	font-size: 27px;
	    padding: 15px;
	    border-radius: 6px;
	    margin: left;
	    margin-left: 335px;
	}
	.drpdwn.meatDrp {
		margin-left: 562px;
	    margin-top: 91px;
	}
	.drpdwn.seafoodDrp {
		margin-top: 91px;
	}
	#myDropdown {
		z-index: 99999;
	}
	.slick-list {
    	margin: 0 -50px;
	}
	.page-wrapper {
  		position: relative;
	    flex-wrap: wrap;
        height: auto;
        justify-content: center;
	}
	.f-icon {
        height: auto;
	    width: 458px;
        text-align: center;
	}
	a.icon1 {
		display: block;
	}
	.f-icon img {
    	width: 108px;
	}
	.sub-container4 {
    	height: auto;
	    padding: 65px 0;
	}
	.qual-icon-cont p,.qual-icon-cont span{
        /*font-size: 21px;*/
        font-size: 26px;
    	width: auto;
	}
	.prices {
	    font-size: 30px;
	}
	span.product-name {
	    font-size: 26px;
	}
	button.buttoncat {
   	    font-size: 21px;
    	width: 63%;
	}
	.__item .box3 span {
	    /*font-size: 30px;*/
		font-size: 29px;
	    font-weight: bold;
	}
	.box3-info p {
    	font-size: 25px;
	}
	.footer-container {
	    display: block;
	}
	.footer-1st-cont {
    	justify-content: space-between;
	    width: 100%;
        padding-bottom: 100px;
	}
	.footer-2nd-cont {
    	justify-content: space-between;
	}
	.footer-info {
	    width: auto;
	}
	.footer-logo {
    	width: 100%;
	    justify-content: unset;
	}
	.footer-desc {
    	width: 100%;
	}
	.info-paragraph {
    	font-size: 35px;
	}
	span.footer-des-logo {
    	width: 100%;
	    padding-right: 25px;
	}
	span.des1 {
	    font-size: 42px;
	}
	.des2 {
	    font-size: 25px;
	}
	span.footer-title {
	    font-size: 35px;
	}
	.footer-title-tweets {
	    width: 60%;
	    height: 75px;
	}
	.footer-title-gallery {
    	width: 60%;
	    height: 75px;
	}
	.footer-tweet-time {
    	font-size: 30px;
	}
	.footer-title-contact {
    	width: 60%;
	    height: 75px;
	}
	.footer-contact-info {
	    /*line-height: 48px;*/
        line-height: 55px;
	}
	span.sp {
	    width: 60%;
    	font-size: 26px;
	}
	.info-contacts {
    	font-size: 26px;
	    width: 30%;
	}
	.image-cont img {
   		margin: 3px;
    	width: 132px;
	}
	.copyright {
    	font-size: 35px;
	}
	.social-media-icons a img {
   	 	height: 66px;
    	margin: 19px 20px;
	}
	.container .sub-container2 .sc2 {
	    font-size: 40px;
	}
	.quality-cont img {
    	height: 500px;
	}
	.centered {
	    border-top: 5px solid #ffffffbf;
	    border-bottom: 5px solid #ffffffbf;
	    padding-bottom: 36px;
	    padding-top: 36px;
	}
	.login-reg-form {
	    margin: 6% 32%;
	}
	.icons {
    	 align-items: unset; 
	}
	.login-reg-form input {
		 height: 96px;
	}
	button.btn.btn-success.btn-block {
    	 height: 96px;
	}
	.btn-primary#btn-signup {
		 height: 96px;
    }
    button.btn.facebook-btn.social-btn {
		 height: 96px;
    }
    button.btn.google-btn.social-btn {
		 height: 96px;
	}

	
}
@media (max-width: 411px) {
	.headmenu .des1 {
		font-size: 37px;
	}
	.headmenu .des2 {
    	font-size: 28px;
    	width: 100%;
	}
	.slide-image {
		height: 878px;
	}
	.sales1 {
		width: 59%;
	}
	.sales2 {
	    font-size: 60px;
	}
	.sales3 {
	    font-size: 89px;
	}
	.sales4 {
	    font-size: 35px;
	}
	.bttn1 {
		padding: 18px;
        width: 31%;
	    font-size: 24px;
	}
	.bttn2 {
		padding: 18px;
	    width: 31%;
	    font-size: 24px;
	}
	.slider-conts {
	    height: 996px;
	}
	.items.slider.slick-initialized.slick-slider {
	    width: 100%;
	}
	span.product-name {
		font-size: 26px;
	}
	.prices {
		font-size: 26px;
	}
	.__item {
		/*width: 361px;*/
	    width: 500px;
	}
	
}
@media (max-width: 375px) {
	.box3-info p {
    	font-size: 31px;
	}
	.f-icon img {
		width: 86px;
	}
	.f-icon strong {
		font-size: 21px;
	}
	.f-icon p {
		/*font-size: 18px;*/
	    font-size: 31px;
	}
	.f-icon .buttoncat {
		padding: 15px 32px;
		font-size: 20px;
	}
	.container .sub-container2 {
	    height: auto;
	}
	.items-container {
		width: 100%;
	}
	.__item {
	    width: 619px;
	}
	.items.slider.slick-initialized.slick-slider {
   		width: 100%;
    	height: auto;
	}
	.slide-image {
    	height: 797px;
	}
	.container .sub-container {
	    height: auto;
	    min-height: 30px;
	}
	span.product-name {
	    font-size: 40px;
	}
	.prices {
	    font-size: 38px;
	}
	.slider-conts {
    	height: 889px;
	}
	.container .sub-container .bsp {
    	/*margin-top: -3px;*/
	    margin-top: 16px;
	}
	.sales1 {
	    width: 43%;
	    top: 24%
	}
	.dropdown-content-account {
	    font-size: 35px;
	}
	.dropdown-content-account a {
    	width: 215px;
	}
	.mobile-menu {
    	width: 20%;
	}
}
@media (max-width: 360px) {
	.headmenu {
    	display: block;
    	height: auto;
       	padding: 61px 0;
	}	
	.headmenu .icons {
    	width: 100%;
	    display: flex;
	    justify-content: center; 
	    padding: 0;
	}
	.mobile-menu {
   		width: 100%;
    	text-align: -webkit-center;
	}
	.des-logo img {
    	width: 502px;
	}
	.headmenu .des1 {
    	font-size: 66px;
	}
	.headmenu .des2 {
   		font-size: 46px;
    	width: 100%;
    	position: unset;
	}
	.headmenu .des-logo .logos {
   		margin-left: 0px;
    	margin-top: 0px;
	}
	.dropdown-content-account {
    	font-size: 43px;
	    width: 300px;
	    right: unset;
	}
	.dropdown-content-account a{
    	padding: 24px 27px;
	}
	.company-title {
    	display: none;
	}
	.topnav.responsive .ordinary {
	    font-size: 47px;
	}
	span.des-logo {
   		width: 100%;
    	text-align: center;
	}
	button.menu-toggle {
    	width: 24%;
    	height: 135px;
	    margin: 90px 0;
	    font-size: 50px;
        border-radius: 13px;
	}
	.search-icon img {
    	width: 60px;
	    height: 64px;
	}
	.headmenu .icons .icons3 {
   		width: 80px;
	}
	.headmenu .icons .icons2 {
    	width: 71px;
	}
	.toggle-cart-sidenav img {
	    display: none;
	}
	.company-logo {
	    width: 100%;
    	justify-content: center;
	    padding: 10px 0px;
	}
	.slick-list.draggable {
    	width: 100%;
	}
	.container .sub-container .box {
		margin-top: 45px;
	}
	.container .sub-container .box img {
	    width: 100%;
	    /*height: 228px;*/
        height: auto;
	    object-fit: cover;
	}
	.container .sub-container {
	    height: auto;
        padding: 35px 0;
	}
	.container .sub-container2 {
		height: auto;
	}
	.__item {
	    width: 1174px;
	}
	.__item .box2 {
	    height: 623px;
	    border-radius: 15px;
	}
	.__item .box2 img {
		object-fit: cover;
	}
	.__item .box3 {
		margin-top: 50px;
	}
	.__item .box3 span {
		font-size: 62px;
	}
	.box3-info p {
		font-size: 47px;
	}
	.bttn1 {
		padding: 26px;
	    width: 33%;
	    font-size: 37px;
	}
	.bttn2 {
		margin-left: 15px;
	    padding: 26px;
	    width: 40%;
	    font-size: 37px;
	}
	.f-icon strong {
    	font-size: 43px;
    	/*margin-left: 112px;*/
	}
	.f-icon p {
    	font-size: 43px;
    	text-align: center;
	}
	.info-paragraph {
	    font-size: 43px;
	}
	span.footer-title {
        font-size: 66px;
	}
	.footer-tweet-time {
	    font-size: 42px;
	}
	.info-tel, .info-phone, .info-fax, .info-mail, .info-address, .info-web {
		font-size: 19px;
	}
	.copyright {
	    font-size: 34px;
	}
	.container .sub-container2 .sc2 {
		font-size: 71px;
	}
	.hr {
	    width: 68%;
	}
	.items-container {
	    width: 74%;
	    overflow: auto;
	    height: 87%;
	}
	.select-more {
		margin: 54px 0px;
	}
	.quality-cont img {
		height: 731px;
    	object-fit: cover;
	}
	.centered {
		font-size: 105px;
		width: 79%;
	}
	.page-wrapper {
		overflow-x: auto;
	}
	.f-icon {
		margin: 13px 43px;
        width: 81%!important;
    	padding-bottom: 87px;
	}
	.f-icon img {
	    width: 167px;
	    /*margin-left: 200px;*/
	}
	.f-icon .buttoncat {
	    padding: 39px 32px;
	    font-size: 49px;
	    width: 588px;
	}
	.sub-container4 {
	    width: 100%;
        height: auto;
	}
	.slide-image {
        height: 1179px;
	}
	.slider-conts {
	    height: 1145px;
	}
	.sales2 {
	    font-size: 90px;
	}
	.sales3 {
	    font-size: 133px;
	}
	.sales4 {
	    font-size: 55px;
	}
	.sales1 {
	    width: 60%;
	    top: 18%;
	}
	/*.item-name {
		margin-top: -40px;
	}*/
	.prices {
	    font-size: 46px;
	}
	.container .sub-container .bsp {
		width: 49%;
		font-size: 60px;
	}
	span.product-name {
	    font-size: 60px;
    	font-weight: 700;
	}
	.slider-conts {
	    height: 1179px;
	}
	#slide-container {
    	height: auto;
	}
	.container .sub-container .box .prod-image img {
   		width: 100%;
    	height: auto;
	}
	.footer-container {
    	display: block;
	}
	.footer-1st-cont {
    	width: auto;
    	padding-bottom: 50px;
	}
	.footer-2nd-cont {
    	width: auto;
    	justify-content: center;
	    display: block;
	}	
	.footer-desc {
    	width: 588px;
	}
	.footer-logo {
    	 justify-content: unset; 
	}
	.footer-info {
	    width: 100%;
	}	
	.footer-des-logo img {
    	width: 178px;
	}
	.qual-icon-cont p, .qual-icon-cont span {
	    font-size: 50px;
    	line-height: 95px;
	}
	span.footer-des-logo {
    	width: auto;
	}
	.des2 {
	    font-size: 36px;
	}
	.name-title {
	    padding-left: 40px;
	}
	.footer-title-gallery {
    	width: 60%;
	    height: auto;
	    padding-bottom: 60px;
	}
	.footer-contact-us {
		width: 100%;
	}
	.footer-title-tweets {
        width: 79%;
	    height: auto;
	    padding-bottom: 61px;
	}
	.footer-title-contact {
	    width: 60%;
	    height: auto;
	    padding-bottom: 56px;
	}
	.footer-gallery {
		width: 100%;
		padding: 72px 0;
	}
	.image-cont img {
    	width: 142px;
	}
	.gallery-images {
    	width: auto;
	}
	.info-contacts {
	    font-size: 50px;
	}
	span.sp {
	    width: 50%;
        font-size: 44px;
		line-height: 84px;
	}
	span.des1 {
    	font-size: 63px;
	}
	.tweets {
    	height: 43px;
    	padding-right: 18px;
	}
	.info-paragraph {
	    line-height: 97px;
	}
	.info-paragraph {
    	font-size: 47px;
	}
	.toggle-cart-sidenav img {
	    width: 131px;
	}
	.item-on-cart {
    	overflow: auto;
    	height: 396px;
	}
	
	/*.sales1 {
		top: 0!important;
	}*/
}
