.slick-track {
    display: flex;
}
.items.slider.slick-initialized.slick-slider {
    width: 80%;
    overflow: hidden;
    margin: 0 180px;
    position: absolute;
    height: 400px;
}
ul.slick-dots {
    display: flex;
    margin: 21px 40%;
    list-style: none;
    transform: translate(43%);
    transform: translateY(150%);
}
button.slick-prev.slick-arrow {
    display: none!important;
}
button.slick-next.slick-arrow {
    display: none!important;
}
/*.slick-dots li img:nth-child(1) {
    display: block;
}

.slick-dots li img:nth-child(2) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}*/
.slick-dots li.slick-active button{
    background-color: #c4a265;
    border-radius: 10px;
    border: solid #c4a265;
}
.slick-dots li button {
    text-indent: -9999px;
    overflow:hidden;
    margin: 0 12px;
    font-size: 0.6rem;
    border-radius: .6rem;
    border: 0;
    background-color:#cdb68e;
    /* more CSS */
}