html, body {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1920px;
}
.container {
  max-width: 100%;
  width: 1920px;
  padding: 0;
}
input {
  font-size: 16px;
}
* {
	font-family: "Blatant", sans-serif;

}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.menu-toggle, .search-icon {
    display: none;
}
.headmenu {
  display: flex;
  /*width: 100%;*/
	/*border: 1px solid black;*/
	padding: 34px 0;
	background-color: #2a2c2f;
  height: auto;
  width: 100%;
}
.company-logo {
    width: 23%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.header-container{
    width: 100%;
}
img.logos {
    width: 76px;
    size: 4px;
    position: relative;
    top: -7px;
}
.hr {
  width: 22%; 
  border: 1px solid #c4a265; 
  margin-left: 68px;
}
.headmenu .des-logo {
	/*border: 1px solid red;*/
  padding-right: 10px;
}

/*.headmenu .des-logo .logos {
  margin-left: 63px;
	margin-top: 5px;
}*/

.headmenu .des1 {
	color: white;
  top: 39px;
  font-size: 18px;
}

.headmenu .des2 {
    color: white;
    /* border: 1px solid red; */
    top: 65px;
    /*left: 121px;*/
    font-size: 13px;
}

.headmenu .sub-menu {
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    width: 30%;
}

.headmenu .sub-menu .des3 {
	color: white;
}

.headmenu .sub-menu .des4 {
	color: white;
	margin-left: 30px;
}

.headmenu .sub-menu .des5 {
	color: white;
	margin-left: 30px;
}

.headmenu .sub-menu .des6 {
	color: white;
	margin-left: 30px;
}

.headmenu .sub-menu .des7 {
	color: white;
	margin-left: 30px;
}

.headmenu .sub-menu .d-arrow {
    width: 10px;
}

.dropdown-content {
  	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 96px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
    border-radius: 8px;
    margin-left: 60px;
    margin-top: 7px;
    font-size: 15px;
    width: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .des3 {
  color: #C4A265;
}

.dropdown:hover .des4 {
  color: #C4A265;
}

.dropdown:hover .des5 {
  color: #C4A265;
}

.dropdown:hover .des6 {
  color: #C4A265;
}

.dropdown:hover .des7 {
  color: #C4A265;
}

.headmenu .inputs {
	/*position: absolute;*/
   /* left: 57%;
    top: 24px;*/
}
.dropdown-content-account {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
    border-radius: 8px;
    /*margin-left: 60px;
    margin-top: 7px;*/
    font-size: 15px;
    width: auto;
    height: auto;
    right: 10px;
}
.dropdown-account:hover .dropdown-content-account {
    display: block;
}
.dropdown-content-account a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 700;
  width: 137px;
}
.dropdown-content-account a:hover {
  color: #C4A265;
}
.headmenu .inputs .inpt-search {
    /*padding: 13px;*/
    display: inline-block;
    color: white;
    background-color: #161414;
    border: none;
    border-radius: 4px 0px 0px 4px;
    width: 272px;
    height: 75%;
    font-size: 17px;
    padding: 0px 11px;
}
span.inputs {
  height: 100%
}

.headmenu .inputs .btn-search {
    padding: 17px;
    margin-left: -8px;
    background-color: #c4a265;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 0px 4px 4px 0px;
    height: 75%;
}

/*.headmenu .icons {
    width: 15%;
}*/

.headmenu .icons .icons2 {
    width: 30px;
    margin-right: 23px;
}

.headmenu .icons .icons3 {
    width: 30px;
}
.container {
	/*border: 1px solid red;*/
}

.container .sub-container .bsp{
    padding: 5px;
    width: 29%;
    margin: 0 auto;
    font-size: 41px;
    font-weight: bold;
    margin-top: 66px;
    text-align: center;
}
.container .sub-container{
    position: relative;
    height: auto;
    margin-bottom: 80px;
}

.container .sub-container .box {
    width: 100%!important;
    height: 250px;
    /*float: left;*/
    margin-left: 0;
    margin-top: 75px;
    position: relative;
}

.container .sub-container .box img {
    width: 100%;
    /*height: 176px;*/
}
.box.slide{
    display: flex;
}

.container .sub-container2 {
    width: 100%;
    /*margin-top: 27%;*/
    background-color: #f6f4f2;
    /*overflow: auto;*/
    /*padding: 0 10px 109px;*/
    max-width: 1920px;
    /*height: 1420px;*/
    height: auto;
    padding: 43px 0;
}

.container .sub-container2 .sc2 {
    padding: 20px;
    font-size: 30px;
    margin-left: 47px;
}

.__item .box2 {
    width: 100%;
    height: 257px;
}
.box3-details {
    margin: 13px 0;
    display: flex;
    justify-content: space-between;
}
.box3-details span {
    font-family: "Blatant", sans-serif;
}
.box3-info {
    margin: 25px 0;
    display: block;
}
.box3-info p {
    font-size: 15px;
    letter-spacing: 0.03em;
}
.box3-details .items-price{
    border: solid #ccc;
    color: #ccc;
    border-radius: 6px;
    padding: 8px 21px;
    font-size: 22px;
}
.box3-item-info {
    color: #747070;
}
.__item .box2 img {
    width: 100%;
    height: 258px;
    border-radius: 5px;
}

.__item .box3 {
    width: 100%;
}

.__item .box3 .box3-info{
    font-size: 23px;
    line-height: 28px;
}
.items-container {
    display: flex;
    /*width: 100%;*/
    height: auto;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    margin: 0 15%;
    padding: 10px 0;
}
.__item {
    margin: 17px 19px;
    width: 400px;
}


/* Slider */
/* Slideshow container */
#slide-container {
 position: absolute;
 overflow: hidden;
 width: 100%;
}

.slide-image {
    width: 100%;
    height: 850px;
    object-fit: cover;
}
.item-details {
    margin: 12px 0;
    text-align: center;
}
.price-tag {
    margin: 18px 0;
}
.item-name a {
    text-decoration: none;
    text-align: center;
}
.prices {
    font-family: "Blatant", sans-serif;
    color: #C4A265;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
}
span.product-name:hover {
    color: #C4A265;
}
span.product-name {
    font-weight: normal;
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #1D1E21;
    text-align: center;
    font-family: "Blatant", sans-serif;
}
.footer-section {
    background-color: #2a2c2f;
    height: auto;
    /*padding: 1px;*/
}

.box2 {
  /*display: inline-block;*/
  /*margin: 20px;*/
  /*border: 1px solid black;*/
  overflow: hidden;            /* clip the excess when child gets bigger than parent */
}
.box2 img {
  /*display: block;*/
  transition: transform .4s;   /* smoother zoom */
}
.__item:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

.__item:hover .items-price  {
    background: #a11001;
    border-color: #a11001;
    color: #fff;
}
.__item:hover .select-more span {
    background: #a11001;
    border-color: #a11001;
}
.__item:hover .box2 img{
    background-color: #000;
    filter: brightness(50%);
}
span.product-title {
    margin-top: 10px;
    font-size: 22px;
}
.mySlides {
    filter: brightness(50%);
}
.sales1 {
    /*border: 1px solid red;*/
    width: 615px;
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 16%;
    /*opacity: 1; animation-duration: 1500ms; animation-delay: 0ms;*/
}

.sales2 {
    color: white;
    font-weight: bold;
    font-size: 52px;
}

.sales3 {
    color: #b89352;
    font-size: 94px;
    font-weight: bold;
}

.sales4 {
    color: #d2d1d1;
    font-size: 28px;
    margin-top: 14px;
}

.sales5 {
    margin-top: 30px;
}

.bttn1 {
    padding: 17px;
    width: 24%;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #c4a265;
    background-color: #c4a265;
    color: white;
    font-weight: 600;
}

.bttn1:hover {
    background-color: #b89352;
    border: 2px solid #b89352;
}

.bttn2 {
    padding: 17px;
    width: 30%;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border: 2px solid #e7e7e7;
}

.bttn2:hover {
    background-color: #b89352;
    border: 2px solid #b89352;
}


.select-more {
    margin: 32px 0px;
    font-family: Blatant , sans-serif;
    width: 50px;
}
.select-more span {
    color: #fff;
    border-radius: 4px;
    padding: 8px 21px;
    background: #b28b19;
}
.cart-icon {
    position: absolute;
    width: 50px;
    height: 26px;
    top: 10px;
    margin: 27% 42%;
    display: none;
}
.cart-icon img {
    transition: transform .6s;
}
.prod-image:hover + .cart-icon {
    display: block;
}
.cart-icon:hover {
    display: block;
}
.quality-cont img{
    width: 100%;
}

.quality-cont {
    position:relative;
}
.sub-container4{
    height: 500px;
    width: 100%;
    display: flex;
}
.footer-logo {
    display: flex;
    /*width: 280px;*/
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
img.footer-logos {
    width: 80%;
}
.footer-container {
    height: 50%;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    padding: 66px 91px;
}
.name-title {
    color: #fff;
    font-size: 23px;
}
.des2 {
    font-size: 13px;
}
.footer-info {
    color: #ccc;
    width: 280px;
    /*font-family: Blatant, sans-serif;*/
}
.footer-company {
    width: 280px;
}
.footer-title-tweets {
    color: #fff;
    width: 180px;
    height: 40px;
    border-bottom: solid orange 2px;
}
.footer-tweet-time {
    color: #ccc;
    padding-top: 29px;
}
.footer-title-gallery {
    color: #fff;
    width: 180px;
    height: 40px;
    border-bottom: solid orange 2px;
}
.footer-title-contact {
    width: 180px;
    height: 40px;
    border-bottom: solid orange 2px;
}
.footer-contact-us {
    color: #fff;
}
span.footer-title {
    font-weight: 700;
    font-size: 18px;
    font-family: Blatant, sans-serif;
}
.info-paragraph {
    line-height: 39px;
    letter-spacing: 0.3px;
}
.footer-contact {
    height: inherit;
}
.footer-contact-info {
    line-height: 36px;
    width: 100%;
    padding-top: 29px;
}
.info-tel, .info-phone, .info-fax, .info-mail, .info-address, .info-web {
    display: flex;
}
.info-contacts {
    width: 120px;
    font-family: Blatant, sans-serif;
}
.info-contacts.address {
    height: 44px;
}
.footers-copyright {
    background: #201a19;
    height: 75px;
}
.footer-desc {
    margin: 10px 20px;
    width: 270px;
}
span.sp {
    width: 150px;
    font-family: Blatant, sans-serif;
    color: #ccc;
}
.image-cont {
    height: auto;
    padding-top: 29px;
    display: flex;
    flex-wrap: wrap;
}
.image-cont img {
    border-radius: 6px;
    cursor: pointer;
    margin: 1px;
}
.image-cont img:hover {
    opacity: 0.5;
}
.footers-copyright {
    display: flex;
    width: 100%;
    height: auto;
}
.copyright {
    width: 50%;
    margin: 31px;
    text-align: center;
}
.copyright span {
   color: #fff;
}
.social-media-link {
    margin: 0 29px;
    width: 50%;
}
.social-media-link span {
    margin: 0 394px;
}
.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 19px 0;
}
.social-icons img:hover {
    background: orange;
    border-radius: 60%;
}
.social-media-icons a img {
    height: 37px;
    margin: 0 20px;
}

#Btop {
  display: inline-block;
  background-color: red;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border: unset;
  color: #fff;
  font-size: 25px;
}
#Btop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#Btop:hover {
  cursor: pointer;
  background-color: #2a2c2f;
}
#Btop:active {
  background-color: #555;
}
#Btop.show {
  opacity: 1;
  visibility: visible;
}
#Btop img{
    height: 36px;
}
#Btop::after {
    display: none;
}
.tweets {
    height: 17px;
    padding-right: 7px;
}

a.icon1 {
   display: flex;
   justify-content: center;
}
.qual-icon-cont {
    text-align: center;
}
.hero-text h2 {
  margin-bottom: 50px;
}

.hero-text .hero {
  position: relative;
}

.hero-text .hero .hero-slide a:hover span {
  color: #033a71;
}

.hero .hero-slide img {
  width: 100%;
  height: 870px;
  object-fit: cover;
  object-position: top center;
}

.hero .hero-slide .header-content {
  top: 20%;
  margin-left: 8rem;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
}

.slide-content {
  padding: 10px 20px 10px 0;
}

.slide-content .h1 {
  font-size: 62px;
}

.btn-primary {
  background-color: #ff8800fc;
  border: #111;
  border-radius: 0;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 80%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*margin: 0 5px;*/
  padding: 12px 13px;
  cursor: pointer;
}

.slick-active button {
  background: #d60e96;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  /*display: block;*/
  /*width: 20px;
  height: 20px;*/
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}
.slider-conts {
    height: 850px;
    position: relative;
    /*transition: 0.2s;*/
}

.toggle-cart-sidenav {
    position: fixed;
    z-index: 100;
    right: 0;
    background-color:  #b258078f;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 32px;
}
.toggle-cart-sidenav:hover {
    background-color: #b25807;
}
.toggle-cart-sidenav img{
    /*width: 80px;*/
    width: 70px;
    padding: 10px;

}
.cart {
  display: flex;
  cursor: pointer;
}
span.cart-title {
    color: #fff;
    font-size: 34px;
    padding: 24px 0px;
    width: 100%;
    text-align: center;
}
.items-on-cart-container {
    padding: 19px;
    font-family: "Blatant", sans-serif;
}
.item-on-cart .carted-item {
    margin: 10px;
}
.carted-item {
    display: inline-grid;
}
.carted-item-cont {
    display: flex;
    justify-content: space-between;
}
.carted-item .item-name {
    color: #C4A265;
    cursor: pointer;
}
.carted-item .item-name:hover {
    color: black;
}
.check-out-sidbar button {
    color:#fff;
    background: #C4A265;
    border: solid #C4A265;
    border-radius: 5px;
    padding: 14px 100px;
    cursor: pointer;
}
.view-cart-sidebar button {
    border: solid #C4A265;
    background: #dedcdc;
    border-radius: 5px;
    padding: 14px 100px;
    cursor: pointer;
}
.check-out-sidbar, .view-cart-sidebar {
    text-align: center;
    padding: 5px;
    height: 50px;
}
.item-on-cart {
    overflow: auto;
    height: 200px;
}
.check-out-sidbar button:hover {
    background: #b28b19;
}
.view-cart-sidebar button:hover {
    color: #fff;
    background: #b28b19;
}
.icons-inputs{
    display: flex;
    width: 26%;
}
.icons {
    display: flex;
    align-items: center;
    width: 19%;
}
.footer-1st-cont {
    display: flex;
}
.footer-2nd-cont {
    display: flex;
}
/*.add-to-cart-items {*/
 /*   border-left: solid #7d35069e 5px;
}
.add-to-cart-items:hover {
    border-left: solid #b25807 5px;
}*/

/*login */
.login-reg-form {
    width: 500px;
    border: solid #2a2c2f;
    margin: 0% 37%;
    background: #2a2c2fc7;
    border-radius: 5px;
}
.social-log {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.account-log {
    /*height: 112px;*/
    height: auto;
    display: block;
    width: 100%;
    padding: 23px 0;
    text-align: center;
}
.signin-forgot {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px 0;
}

.signup-new {
    text-align: center;
}

.login-container {
    width: 358px;
    height: auto;
    /*border: solid red;*/
    margin: 35px 70px;
}

button.btn.facebook-btn.social-btn {
    height: 50px;
    width: 49%;
    border-radius: 5px;
    background: #4267B2;
    color: #fff;
    border: none;
}
button.btn.google-btn.social-btn {
    height: 50px;
    width: 49%;
    border-radius: 5px;
    background: #DB4437;
    color: #fff;
    border: none;

}
button.btn.btn-success.btn-block {
    height: 46px;
    width: 100%;
    background: #c4a265;
    border: #c4a265;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}
.signup-new {
    padding: 12px 0;
}
/*span.forgot-pass {
    background: #2a2c2f;
    padding: 14px;
    margin-left: 10px;
    border-radius: 5px;
}*/
.forgot-pass a{
    color: #c4a265;
}
.btn-primary#btn-signup {
    background-color: #ff8800fc;
    /* border: #111; */
    border-radius: 5px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    padding: 18px;
    width: 100%;
}
.login-body {
    background-image: url(../asset/img/599.jpg);
}


#slider-range {
    background: #ccc;
    width: 72%;
    height: 3px;
    margin-left: 10px;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
    background: #c4a256;
}
#slider-range span {
    background: #C4A265;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    outline: none;
}
button.filter-by-price {
    padding: 10px 25px;
    background: none;
    border-colo: #c4a256;
    border: solid #c4a256;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
button.filter-by-price:hover {
    color: #fff;
    background: #c4a256;
}


/*end login*/

/*cartpage*/
.page-container{
  height: auto;
  /*padding: 43px 0;*/
  margin: 0;
  width: 100%;
}
.page-sub-container h1 {
  color: #1D1E21;
  text-align: center;
}
.cart-input {
  display: inline-flex;
  align-items: center;
}
.cart-input input{
  width: 20px;
  width: 58px;
  height: 30px;
}
.cart-input button{
  height: 1.875rem;
  width: 2.4375rem;
  border: none;
  color: #fff;
  font-size: 23px;
  background: #c4a256;
  outline: none;
}
.cart-input input::-webkit-outer-spin-button,
.cart-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-input button:active {
  background: olive;
}

.cartpage-title form {
  width:  100%;
}
.cartpage-item {
  text-align: -webkit-center;
}
thead{
  border: 1px solid black;
  border-collapse: unset;;
}
table.product-on-cart {
  border: 1px solid black;
  border-collapse: collapse;
  width: 43%;
}
.librebais img {
  width: 139px;
}
.librebais td{
     padding: 17px 0px;
    text-align: center;
}
.librebais a {
  color:  #c4a256;
  font-size: 22px;
}
thead td {
      padding: 10px 35px;
}
.coupon-submit {
  display:  flex;
  justify-content: space-between;
  width: 43%;
  margin: 43px 0;
}
.apply-coupon input {
  height: 3.5rem;
  width: 17.4375rem;
  font-size: 20px;
  }
.apply-coupon button{
  background:   #C4A265;
  color:  #fff;
}
.apply-coupon button, .update-cart button {
   height: 3.5rem;
   width: 12.6875rem;
   border-radius:  5px;
   outline:  none;
   border: 0;
   font-size: 20px;
   cursor:  pointer;
}
.update-cart button:hover {
  background:   #c4a256;
  color:  #fff;
}.apply-coupon button:hover {
   background:  #8a6e3c;
}
span.cancel-cart {
    font-size: 32px;
}
.summary-conts {
    width: 43%;
    text-align: end;
}
.summary-sub-cont {
  display:  flex;
  width: 32%;
  justify-content: space-between;
}
.sub-total span{
  color: #C4A265;
  font-weight:  700;
  font-size: 22px;
}
.shipping_ {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 46%;
}
.shipping-info {
    line-height: 2.75rem;
}
.edit-address {
    color: #c2a256;
    font-size: 20px;
}
.page-sub-container {
    margin: 6.75rem 0;
}

.summary-total {
    display: flex;
    width: 32%;
    justify-content: space-between;
}
.proceed__ {
    text-align: left;
}
.__proceed-to {
    height: 71px;
    width: 241px;
    background: #c4a256;
    color: #fff;
    font-size: 21px;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 60px 0;
}
.__proceed-to:hover {
  background:   #8a6e3c;
}
.__total {
    color: #c4a256;
    font-weight: 700;
    font-size: 23px;
}
div#myDropdown {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px #c4a265;
}
.radio-buttons {
  display: flex;
}
/*.form-container {
    width: 100%;
    text-align: -webkit-center;
}*/
.order-conts {
    /*border: solid 1px;*/
    width: 68%;
    height: auto;
    /* align-content: flex-end; */
    text-align: left;
    line-height: 35px;
    padding: 28px 32px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    border-radius: 4px;
    background-color: #fcfcfc;
}
.form-container {
    height: 100%;
    display: flex;
}

.datestime {
    height: 46px;
    padding: 6px;
    border: none;
    background-color: #efefef;
}
.inpt-address {
    height: 45px;
    /*width: 123%;*/
}
.asterisk {
  color: red;
}
.proceed-to button {
    height: 29px;
    width: 161px;
    border: solid #c4a256;
    border-radius: 5px;
    height: 52px;
    cursor: pointer;
    outline: none;
}
.proceed-to button:hover {
    background: #c4a256;
    color: #fff;
}
.proceed-to span {
  margin-left: 13px;
}
.shop-images-lechon img{
  height: 220px;
  width: 238px;
}
.proceed-add {
    display: flex;
    justify-content: space-between;
}
.lechon-img img {
  height: 202px;
  width: 202px;
}
.lechon-info {
  display: flex;
}
.lechon-info div {
  margin: 10px;
}
.payment-mehods {
    display: flex;
}
.pay-conts {
    margin: 16px;
}
.delivery-details {
    display: flex;
}
.delivery-details div{
  margin: 8px;
}
.proceed-to {
    text-align: right;
}

input.btn.btn-default {
    background-color: #ff8a05;
    color: white;
}

input.btn.btn-default:hover{

    background-color: #e67d06;
}