/* reset password css */
button.btn.reset-btn {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    background-color: gold;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
a#cancel_reset {
    color: white;
}
    
    

input.form-control {
    font-size: 16px;
    width: 100%;
    height: 45px;
    margin-top: 10px;
}
/* end of reset password css */



.signup-button {
    margin-top: 1rem;
}
.account-log {
    padding-top: 10px;
    padding-bottom: 10px;
}    
.for-flex {
    display: inline-flex;
    gap: 3px;
}
.signup-inputs {
    margin-top: 1rem;
}
button.btn.btn-primary.btn-block.sign-up {
    background-color: #ff8800fc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

/* media for reset password */
@media only screen and (max-width: 1366px){
    input.form-control {
        height: 45px;
    }
    button.btn.reset-btn {
        margin-top: 15px;
        font-size: 14px;
    }    
}   
@media only screen and (max-width: 1024px){
    input.form-control {
        font-size: 20px;
        height: 55px;
    }
    button.btn.reset-btn {
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }
    a#cancel_reset {
        font-size: 20px;
    }
} 
@media only screen and (max-width: 800px){
    button.btn.reset-btn {
        margin-top: 15px;
        font-size: 14px;
    }
    .login-reg-form {
        width: 450px;
        margin-top: 50px;
    }
    .login-container {
        width: 300px;
    }
    #resetEmail {
        height: 40px;
        font-size: 14px;
    }
    button.btn.reset-btn {
        font-size: 14px;
        height: 40px;
    }    
    a#cancel_reset {
        font-size: 16px;
    }    
}


/* end of media for reset password */



@media only screen and (max-width: 1024px){
    input {
    height: 45px;
    }
}    
@media only screen and (max-width: 800px){
    button.btn.facebook-btn.social-btn {
        height: 50px;
        font-size: 16px;
        width: 50%;
        margin-right: 5px;
    }
    button.btn.google-btn.social-btn {
        height: 50px;
        width: 50%;
        font-size: 16px;
    }
    form.form-signin {
        width: 100%;
        left: unset;
    }
    .login-container {
        width: 90%;
        margin: 0;
    }
    button.btn.btn-success.btn-block {
        height: 50px;
        width: 100%;
        font-size: 20px;
    }
    .btn-primary#btn-signup {
        height: 50px;
        font-size: 20px;
    }
    .forgot-pass a {
        font-size: 20px;
    }
}    
@media only screen and (max-width: 768px){
    input {
        height: 50px;
    }    
    .login-reg-form {
        width: 70%;
        border: solid #2a2c2f;
        background: #2a2c2fc7;
        border-radius: 5px;
        position: relative;
        top: 5rem;
    }
    button.btn.google-btn.social-btn {
        height: 60px;
        font-size: 16px;       
    }
    button.btn.facebook-btn.social-btn {
        height: 60px;
        font-size: 16px;
        margin-right: 5px;
    }
    .scl-reg {
        position: relative;
        right: 0rem;
        width: 100%;
    }
    button.btn.btn-primary.btn-block.sign-up {
        background-color: #ff8800fc;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
    }
    button.btn.btn-success.btn-block {
        height: 50px;
        width: 100%;
        font-size: 25px;
    }
    .btn-primary#btn-signup {
        height: 50px;
        width: 100%;
        font-size: 19px;
        text-align: center;
    }      
}

@media only screen and (max-width: 600px){  
    .login-reg-form {
        width: 80%;
    }
}    
@media only screen and (max-width: 568px){
    .login-reg-form {
        width: 95%;
        border: solid #2a2c2f;
        background: #2a2c2fc7;
        border-radius: 5px;
        position: relative;
        top: 2rem;
    }
    .login-container {
        width: 100%;
        height: auto;
        margin: 0;
    }
    form.form-signin {
        width: 90%;
        position: relative;
        left: unset;
    }
    button.btn.google-btn.social-btn {
        height: 50px;
        font-size: 16px;
    }
    button.btn.facebook-btn.social-btn {
        height: 50px;
        font-size: 16px;
        margin-right: 5px;
    }
}    
@media only screen and (max-width: 424px){
    .login-reg-form {
        width: 95%;
    }
}        
@media only screen and (max-width: 414px){
    .login-reg-form {
        width: 95%;
        border: solid #2a2c2f;
        background: #2a2c2fc7;
        border-radius: 5px;
        position: relative;
        top: 2rem;
    }
    .signup-inputs {
        width: 97%;
    }
    .scl-reg {
        position: relative;
        right: 0rem;
    }
    .login-container {
        width: 90%;
        height: auto;
        margin: 0;
    }
    button.btn.btn-primary.btn-block.sign-up {
        background-color: #ff8800fc;
        border: none;
        color: white;
        padding: 14px 31px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 97%;
        height: 42px;
    }
    .social-log {
        display: flex;
        width: 98%;
        justify-content: space-between;
    }
    form.form-signup {
        margin-top: 1rem;
    }    
}

@media only screen and (max-width: 360px){
    .login-reg-form {
        width: 95%;
    }
}        
@media only screen and (max-width: 320px){
    .login-reg-form {
        width: 310px;
        border: solid #2a2c2f;
        background: #2a2c2fc7;
        border-radius: 5px;
        position: relative;
        
    }
    .login-container {
        width: 300px;
    }
}

@media only screen 
and (max-width: 720px)
and (min-width:540px)
and (orientation:portrait){

    .for-flex {
        display: inline-flex;
        gap: 3px;
        width: 100%;
    }
    form.form-signup {
        position: relative;
        top: 3rem;
    }
    .scl-reg {
        position: relative;
        right: 0rem;
        width: 100%;
    }
    .signup-inputs {
        width: 100%;
    }
    button.btn.btn-primary.btn-block.sign-up {
        background-color: #ff8800fc;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        height: 53px;
    }                
}

/* signup css */
@media only screen and (max-width: 800px){
    form.form-signup {
        margin-top: 20px;
    }
    .scl-reg {
        position: relative;
        right: unset;
    }
    .signup-inputs {
        width: 100%;
    }
    .sign-up {
        height: 50px;
    }
    .for-flex {
        width: 100%;
    }
}
@media only screen and (max-width: 320px){
    input.form-control {
        font-size: 14px;
    }
    button.btn.facebook-btn.social-btn {
        font-size: 14px;
    }
    button.btn.google-btn.social-btn {
        font-size: 14px;
    }
}
