.move-to.left-verify {
    font-size: 43px;
    position: relative;
    margin-left: 37%;
    margin-right: 37%;
    color: #ff5515;
}
.move-to-center-verify {
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
}

button.btn.btn-link.p-0.m-0.align-baseline {
    background-color: #333131;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 21rem;
    bottom: 2rem;
}
button.btn.btn-link.p-0.m-0.align-baseline:hover {
    background-color: rgb(23, 24, 23);
}